aquaponics.json
[{"type":"tab","id":"68e6389f.9719c8","label":"Valve"},{"type":"tab","id":"621ad2ed.9de52c","label":"Test Controls"},{"type":"tab","id":"c06fbd88.3f904","label":"Hardware"},{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"ba386057.845d3","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c951866d.36ae78","type":"function","name":"Valve","func":"//outputs (exclusive)\nvar fill = null;\nvar hold = null;\nvar topup = null;\nvar empty = null;\n\n// initialise valve to idle if none exists\nvar initialValve = {state: 'idle'};\nvar valve = context.valve || initialValve;\n\n// interrupts\n// always empty when asked to\nif (msg.payload == 'empty') {\n    // unless already in process of emptying\n    if (valve.state == 'emptying') {\n          return null;\n        } else {\n            valve.state = \"readytoempty\";\n        }\n} else if (msg.payload == 'fill') {\n// but don't start a fill unless idle\n        if (valve.state != 'idle') {\n                return null;\n        } else {\n                valve.state = 'readytofill';\n        }\n}\n\nvar stately = context.global.stately;\nvar machine = stately.define({\n    readytofill: function (valve) {\n                fill = msg;\n                valve.state = 'filling';\n                context.global.startedFilling = new Date().getTime();\n    },\n    filling: function (valve) {\n                hold = msg;\n                valve.state = 'holding';\n    },\n    holding: function (valve) {\n                topup = msg;\n                valve.state = 'filling';\n    },\n    readytoempty: function (valve) {\n        empty = msg;\n        valve.state = 'emptying';\n    },\n    emptying: function (valve) {\n        if (msg.payload == 'idle') {\n                valve.state = 'idle';\n                context.global.startedFilling = null;\n        } else {\n        \treturn null;\n        }\n    }\n});\n\nmachine.handle(valve);\ncontext.valve = valve;\nreturn [fill, hold, topup, empty, {payload: context.global.startedFilling}];","outputs":"4","x":202,"y":638.6666851043701,"z":"68e6389f.9719c8","wires":[["5994f79f.a66b08"],["babade02.45452"],["51cc885d.ae3378"],["35bce5ba.ca431a"]]},{"id":"19e49125.e61b6f","type":"inject","name":"Empty Grow Bed","topic":"","payload":"empty","repeat":"","crontab":"","once":false,"x":108.33332443237305,"y":260.99999618530273,"z":"68e6389f.9719c8","wires":[["ce771f97.3188e"]]},{"id":"7f3b7fe7.80c48","type":"inject","name":"Fill Grow Bed","topic":"","payload":"fill","repeat":"","crontab":"","once":false,"x":92.33332824707031,"y":212.00000953674316,"z":"68e6389f.9719c8","wires":[["ce771f97.3188e"]]},{"id":"5994f79f.a66b08","type":"template","name":"filling","template":"filling","x":333.28577423095703,"y":567.3809571266174,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","33ee63a9.cc119c"]]},{"id":"51cc885d.ae3378","type":"template","name":"topping up","template":"topping up","x":343.0000457763672,"y":668.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","f165fa17.0e9a08"]]},{"id":"35bce5ba.ca431a","type":"template","name":"emptying","template":"emptying","x":345.0000457763672,"y":727.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","8f56aaa8.70a958"]]},{"id":"babade02.45452","type":"template","name":"holding","template":"holding","x":336.0000457763672,"y":614.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","a60476fd.59fb88"]]},{"id":"1affc41a.e5003c","type":"mqtt in","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":67,"y":639.6666812896729,"z":"68e6389f.9719c8","wires":[["c951866d.36ae78"]]},{"id":"ce771f97.3188e","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":303.04760360717773,"y":231.8571376800537,"z":"68e6389f.9719c8","wires":[]},{"id":"4e15ef73.b1ea1","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":662.7253646850586,"y":578.1282110214233,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"2d00a44b.d2ff5c","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":1038.7885284423828,"y":619.9743766784668,"z":"68e6389f.9719c8","wires":[]},{"id":"4ca619d6.b359e8","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":664.1539268493652,"y":622.128210067749,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"d5c77159.2a389","type":"delay","name":"","pauseType":"delay","timeout":"0.10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":668.1539268493652,"y":674.128210067749,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"9dcc862.f623378","type":"delay","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":673.1539268493652,"y":736.128210067749,"z":"68e6389f.9719c8","wires":[["fe60789e.019f88","2d00a44b.d2ff5c","abb2cb8d.544d38"]]},{"id":"90e8d857.6f1728","type":"debug","name":"","active":true,"complete":false,"x":529.2419281005859,"y":789.337025642395,"z":"68e6389f.9719c8","wires":[]},{"id":"fe60789e.019f88","type":"template","name":"idle","template":"idle","x":859.8847007751465,"y":733.1089677810669,"z":"68e6389f.9719c8","wires":[["6ffb67e1.900498","2d00a44b.d2ff5c"]]},{"id":"5f1b6ebd.a0e49","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":800.6539916992188,"y":847.4359683990479,"z":"68e6389f.9719c8","wires":[]},{"id":"33ee63a9.cc119c","type":"template","name":"allow air in","template":"allow air in","x":490.9560241699219,"y":573.6996412277222,"z":"68e6389f.9719c8","wires":[["4e15ef73.b1ea1","5f1b6ebd.a0e49"]]},{"id":"a60476fd.59fb88","type":"template","name":"block air","template":"block air","x":501.615421295166,"y":616.6666803359985,"z":"68e6389f.9719c8","wires":[["4ca619d6.b359e8","5f1b6ebd.a0e49"]]},{"id":"f165fa17.0e9a08","type":"template","name":"allow air in","template":"allow air in","x":503.1539764404297,"y":674.3589792251587,"z":"68e6389f.9719c8","wires":[["d5c77159.2a389","5f1b6ebd.a0e49"]]},{"id":"8f56aaa8.70a958","type":"template","name":"allow air out","template":"allow air out","x":513.1539306640625,"y":729.7436113357544,"z":"68e6389f.9719c8","wires":[["9dcc862.f623378","5f1b6ebd.a0e49"]]},{"id":"6ffb67e1.900498","type":"debug","name":"","active":true,"complete":false,"x":1018.2500152587891,"y":732.9166860580444,"z":"68e6389f.9719c8","wires":[]},{"id":"abb2cb8d.544d38","type":"template","name":"block air","template":"block air","x":863.2500610351562,"y":782.9166774749756,"z":"68e6389f.9719c8","wires":[["5f1b6ebd.a0e49"]]},{"id":"a099cfa3.5f663","type":"function","name":"Empty at Max level","func":"maxLevel = 15;\n\nif (msg.payload > maxLevel) {\n\tmsg.payload = \"empty\";\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":307.31752014160156,"y":481.8094220161438,"z":"68e6389f.9719c8","wires":[["e702605f.18fda","6ea93e52.9156c"]]},{"id":"e702605f.18fda","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":528.9365692138672,"y":467.52381324768066,"z":"68e6389f.9719c8","wires":[]},{"id":"be4207fd.41bdf8","type":"function","name":"Empty at Max fill time","func":"var maxFillTime = 510; // seconds\n\nif (context.global.startedFilling != null &&\n  (new Date().getTime() - context.global.startedFilling)\n\t> 1000 * maxFillTime) {\n\tmsg.payload = \"empty\";\t\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":322.17457580566406,"y":421.23804664611816,"z":"68e6389f.9719c8","wires":[["e702605f.18fda","8a452f82.75bad"]]},{"id":"f610713c.09ef9","type":"inject","name":"Safety Set (watchdog)","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":121.31745529174805,"y":423.3808994293213,"z":"68e6389f.9719c8","wires":[["be4207fd.41bdf8"]]},{"id":"6ea93e52.9156c","type":"template","name":"Max Level Reached","template":"Max Level Reached","x":555.0634460449219,"y":510.6825428009033,"z":"68e6389f.9719c8","wires":[["85666394.7a99a","f77921d9.0886e"]]},{"id":"8a452f82.75bad","type":"template","name":"Max Fill Time Reached","template":"Max Fill Time Reached","x":562.2063827514648,"y":424.65078353881836,"z":"68e6389f.9719c8","wires":[["85666394.7a99a","f77921d9.0886e"]]},{"id":"85666394.7a99a","type":"debug","name":"","active":true,"complete":false,"x":726.0158348083496,"y":469.5714303255081,"z":"68e6389f.9719c8","wires":[]},{"id":"34d2b280.cb2d4e","type":"comment","name":"Manual Controls","info":"","x":79.33332824707031,"y":165.9999942779541,"z":"68e6389f.9719c8","wires":[]},{"id":"4314b6e0.bceb48","type":"comment","name":"Filling and Emptying Process","info":"","x":120,"y":568.6666851043701,"z":"68e6389f.9719c8","wires":[]},{"id":"7deea691.821158","type":"comment","name":"Automatic Controls","info":"","x":106.22222518920898,"y":305.99997329711914,"z":"68e6389f.9719c8","wires":[]},{"id":"448088a2.bb7f78","type":"inject","name":"Turn On","topic":"","payload":"automatic","repeat":"","crontab":"","once":false,"x":88,"y":65.66669654846191,"z":"68e6389f.9719c8","wires":[["17bf88dc.e84077"]]},{"id":"6977a44e.96885c","type":"inject","name":"Turn Off","topic":"","payload":"manual","repeat":"","crontab":"","once":false,"x":86.33331298828125,"y":107.33332824707031,"z":"68e6389f.9719c8","wires":[["17bf88dc.e84077"]]},{"id":"17bf88dc.e84077","type":"function","name":"Change Mode","func":"context.global.mode = msg.payload;","outputs":1,"x":329.66665395100904,"y":85.66666666666663,"z":"68e6389f.9719c8","wires":[[]]},{"id":"bc8d6305.4372a","type":"comment","name":"Automatic Mode ","info":"","x":76.33331298828125,"y":24,"z":"68e6389f.9719c8","wires":[]},{"id":"130f3a41.ecf0c6","type":"inject","name":"Start (Change Frequency)","topic":"","payload":"fill","repeat":"","crontab":"*/30 * * * *","once":false,"x":140.6666704813639,"y":366.66666126251215,"z":"68e6389f.9719c8","wires":[["78beac84.874154"]]},{"id":"78beac84.874154","type":"function","name":"... but only in automatic mode","func":"if (context.global.mode != 'automatic') {\n\treturn null;\n}\nreturn msg;","outputs":1,"x":400.66667556762695,"y":364.9999952316284,"z":"68e6389f.9719c8","wires":[["139dab35.ec6255"]]},{"id":"139dab35.ec6255","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":630.6666221618652,"y":359.9999952316284,"z":"68e6389f.9719c8","wires":[]},{"id":"f77921d9.0886e","type":"mqtt out","name":"","topic":"Valve Notification","broker":"817e85f1.7e8178","x":756.2222137451172,"y":432.7777805328369,"z":"68e6389f.9719c8","wires":[]},{"id":"f8b936af.0746c8","type":"comment","name":"Click Here To Turn On AUTOMode!!!","info":"","x":550.9999847412109,"y":85.66666603088379,"z":"68e6389f.9719c8","wires":[]},{"id":"2a1ed4f9.d5e12c","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":85.99998474121094,"y":485.6666660308838,"z":"68e6389f.9719c8","wires":[["a099cfa3.5f663"]]},{"id":"21a6d12e.de592e","type":"mqtt in","name":"receive Solenoids instruction","topic":"solenoids","broker":"817e85f1.7e8178","x":119,"y":82,"z":"c06fbd88.3f904","wires":[["a01cffe7.5fe3"]]},{"id":"a01cffe7.5fe3","type":"function","name":"set Solenoids","func":"var wpi = context.global.wpi;\nswitch (msg.payload) {\n\tcase \"block air\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak; \n\tcase \"allow air in\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 1);\n\t\tbreak;\n\tcase \"allow air out\":\n\t\twpi.digitalWrite(context.global.valve1pin, 1);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = null;\n}\nreturn msg;","outputs":"1","x":331.33331298828125,"y":84.00000762939453,"z":"c06fbd88.3f904","wires":[["c275b7a4.3d8a48"]]},{"id":"c275b7a4.3d8a48","type":"template","name":"Solenoids output","template":"Solenoids set to {{payload}}","x":511.0000305175781,"y":83.44454193115234,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"5872be84.a78d4","type":"debug","name":"","active":true,"complete":"false","x":654.0278930664062,"y":82.444580078125,"z":"c06fbd88.3f904","wires":[]},{"id":"76d02fd6.892fd","type":"template","name":"LED output","template":"Setting light level to: {{payload}}%","x":510.91668701171875,"y":47.77782440185547,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"69ca620a.96359c","type":"template","name":"Relay output","template":"{{#payload}}\n  Operating Relay\n{{/payload}}\n{{^payload}}\n  Reseting Relay\n{{/payload}}","x":511.88885498046875,"y":118.4443359375,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"5c125530.a3edac","type":"function","name":"set level","func":"// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\nvar level = parseInt(msg.payload);\nwpi.pwmWrite(context.global.ledpin, level);\n\nreturn msg;","outputs":1,"x":364.80560302734375,"y":47.77772521972656,"z":"c06fbd88.3f904","wires":[["76d02fd6.892fd"]]},{"id":"2f9267fe.d06d98","type":"function","name":"energise relay","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.relaysetpin, 1);\n} else {\n\twpi.digitalWrite(context.global.relayresetpin, 1);\n}\nreturn msg;","outputs":"1","x":363.2221984863281,"y":119.44432830810547,"z":"c06fbd88.3f904","wires":[["69ca620a.96359c","98a6eb67.675918"]]},{"id":"92539321.6dac7","type":"mqtt in","name":"receive LED level","topic":"led","broker":"817e85f1.7e8178","x":198.58334732055664,"y":48.77777671813965,"z":"c06fbd88.3f904","wires":[["5c125530.a3edac"]]},{"id":"98a6eb67.675918","type":"delay","name":"10 ms delay","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":510.1111145019531,"y":154.22229766845703,"z":"c06fbd88.3f904","wires":[["726fa07b.8d906"]]},{"id":"d7420809.28bdf8","type":"mqtt in","name":"receive Relay instruction","topic":"relay","broker":"817e85f1.7e8178","x":164.88885498046875,"y":119.44434356689453,"z":"c06fbd88.3f904","wires":[["2f9267fe.d06d98"]]},{"id":"726fa07b.8d906","type":"function","name":"de-energise relay","func":"var wpi = context.global.wpi;\n\nwpi.digitalWrite(context.global.relaysetpin, 0);\nwpi.digitalWrite(context.global.relayresetpin, 0);\n\nmsg.payload = \"... and off.\"\nreturn msg;","outputs":"1","x":666.333251953125,"y":153.66651153564453,"z":"c06fbd88.3f904","wires":[[]]},{"id":"b6028f30.49fd7","type":"inject","name":"Test the Water Temperature","topic":"test_this","payload":"Water Temperature","repeat":"","crontab":"","once":false,"x":149,"y":204.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"ef22711d.10dd9","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":428.9047565460205,"y":410.15868854522705,"z":"621ad2ed.9de52c","wires":[["92dc1534.6d23e8"]]},{"id":"11927d76.ee6d83","type":"inject","name":"Test the Air Pump 1 Current","topic":"test_this","payload":"Air Pump 1 Current","repeat":"","crontab":"","once":false,"x":146.52730178833008,"y":37.212660789489746,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"92dc1534.6d23e8","type":"function","name":"Test router","func":"var debugOut = null;\nvar ledOut = null;\nvar relayOut = null;\n\nswitch (msg.topic) {\n\tcase \"led\":\n\t\tledOut = msg;\n\t\tbreak;\n\tcase \"relay\":\n\t\trelayOut = msg;\n\t\tbreak;\n\tdefault:\n\t\tdebugOut = msg;\n}\nreturn [debugOut, ledOut, relayOut]","outputs":"3","x":554.2380714416504,"y":409.82538175582886,"z":"621ad2ed.9de52c","wires":[["c15c1665.3ea3e8"],["f4631f9.f0b9ce"],["934f9bc3.6cb068"]]},{"id":"1c69dd34.e39623","type":"inject","name":"Test the LED","topic":"test_this","payload":"led","repeat":"","crontab":"","once":false,"x":99.49999237060547,"y":349.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"f9e52a64.061ad8","type":"inject","name":"Test the Light Level","topic":"test_this","payload":"Far Light","repeat":"","crontab":"","once":false,"x":122.5,"y":138.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"fdc7bbb1.023848","type":"inject","name":"STOP TESTING","topic":"test_this","payload":"0","repeat":"","crontab":"","once":false,"x":112.69049072265625,"y":430.3610963821411,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"a98bcfd1.56743","type":"function","name":"LED sequence","func":"var levels = [0, 2, 5, 10, 25, 100];\ncontext.index = context.index || 0;\ncontext.index = context.index + 1;\n\nif (context.index == levels.length) {\n\tcontext.index = 0;\n}\n\nmsg.topic = 'led';\nmsg.payload = levels[context.index];\nreturn msg;","outputs":"1","x":278.60316467285156,"y":464.38093280792236,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"4a0cb69a.b5f348","type":"inject","name":"Test the Air Temperature","topic":"test_this","payload":"Air Temperature","repeat":"","crontab":"","once":false,"x":138.5,"y":170.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"3ffcce16.c00332","type":"inject","name":"Test the Water Pump Current","topic":"test_this","payload":"Water Pump Current","repeat":"","crontab":"","once":false,"x":151.40966987609863,"y":104.62442874908447,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"72d729ed.8d28d8","type":"inject","name":"Test the Air Pump 2 Current","topic":"test_this","payload":"Air Pump 2 Current","repeat":"","crontab":"","once":false,"x":146.52730560302734,"y":70.80089664459229,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"d29fee41.2d601","type":"inject","name":"Test the Digital Water Level","topic":"test_this","payload":"Digital Water Level","repeat":"","crontab":"","once":false,"x":145.57141876220703,"y":236.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"94d56884.6b2a98","type":"inject","name":"Test the Relay","topic":"test_this","payload":"relay","repeat":"","crontab":"","once":false,"x":101.57141876220703,"y":381.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"313b83b.fcec47c","type":"function","name":"Relay sequence","func":"context.global.relaystate = \n\tcontext.global.relaystate ? 0 : 1;\n\t\t\nmsg.topic = 'relay';\nmsg.payload = context.global.relaystate;\nreturn msg;\n\n","outputs":"1","x":280.5714340209961,"y":500.74210834503174,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"2da1435c.d25ebc","type":"inject","name":"Test the Analogue Water Level","topic":"test_this","payload":"Analogue Water Level","repeat":"","crontab":"","once":false,"x":155.57142639160156,"y":271.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"aa7ec8a9.558138","type":"inject","name":"Test the pH","topic":"test_this","payload":"pH","repeat":"","crontab":"","once":false,"x":93.57141876220703,"y":300.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"42550350.bdaafc","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":608.539680480957,"y":30,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"15ff0d01.ea00f3","type":"template","name":"Amps Output","template":"{{topic}}: {{payload}} A","x":623.9365291595459,"y":160.33329677581787,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"274a2f7c.d8b5d","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} C","x":630.2380981445312,"y":80.22225666046143,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"5d56654c.a2a99c","type":"template","name":"Unitless Output","template":"{{topic}}: {{payload}}","x":629.7936782836914,"y":243.98010444641113,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"1a91cb0f.e56e35","type":"template","name":"Centimeter Output","template":"{{topic}}: {{payload}} cm","x":638.8253784179688,"y":295.51972675323486,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"c15c1665.3ea3e8","type":"debug","name":"Test Data","active":true,"complete":"false","x":716.6547966003418,"y":350.90874004364014,"z":"621ad2ed.9de52c","wires":[]},{"id":"f4631f9.f0b9ce","type":"mqtt out","name":"set LED level","topic":"led","broker":"817e85f1.7e8178","x":740.2380714416504,"y":391.8253788948059,"z":"621ad2ed.9de52c","wires":[]},{"id":"934f9bc3.6cb068","type":"mqtt out","name":"set Relay state","topic":"relay","broker":"817e85f1.7e8178","x":736.90478515625,"y":439.40873432159424,"z":"621ad2ed.9de52c","wires":[]},{"id":"9d965345.6269b","type":"inject","name":"1 sec Trigger","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":107.34921264648438,"y":491.0476198196411,"z":"621ad2ed.9de52c","wires":[["a98bcfd1.56743","313b83b.fcec47c"]]},{"id":"e712f345.18ed1","type":"mqtt in","name":"","topic":"Far Light","broker":"817e85f1.7e8178","x":483.42061614990234,"y":30.825385093688965,"z":"621ad2ed.9de52c","wires":[["42550350.bdaafc"]]},{"id":"337b622c.cc849e","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":457.86506843566895,"y":129.11107444763184,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"afad20f7.5052e","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":455.6428470611572,"y":194.22218704223633,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"aed674e4.512988","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":457.8650703430176,"y":162.11108207702637,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"df000c51.20fff","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":465.6428451538086,"y":64.3333683013916,"z":"621ad2ed.9de52c","wires":[["274a2f7c.d8b5d"]]},{"id":"a8619f29.579e6","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":455.6428470611572,"y":96.55556583404541,"z":"621ad2ed.9de52c","wires":[["274a2f7c.d8b5d"]]},{"id":"781d26f8.87e2d8","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":463.5793647766113,"y":262.2657222747803,"z":"621ad2ed.9de52c","wires":[["5d56654c.a2a99c"]]},{"id":"b8a5f166.475a1","type":"mqtt in","name":"","topic":"pH","broker":"817e85f1.7e8178","x":490.722225189209,"y":227.26571464538574,"z":"621ad2ed.9de52c","wires":[["5d56654c.a2a99c"]]},{"id":"1c91ceb.fe36e31","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":456.4365062713623,"y":295.8372039794922,"z":"621ad2ed.9de52c","wires":[["1a91cb0f.e56e35"]]},{"id":"5844948f.a7bb6c","type":"inject","name":"Auto Reboot Arduino every 4 hours","topic":"","payload":"","repeat":"","crontab":"0 */4 * * *","once":false,"x":178,"y":249,"z":"c06fbd88.3f904","wires":[["ea93f72c.156c08"]]},{"id":"ea93f72c.156c08","type":"exec","command":"cd /home/pi/AquaSensors/ && ino upload &&","append":"","useSpawn":"","name":"Reset Arduino","x":431,"y":247,"z":"c06fbd88.3f904","wires":[["786ebecc.87914"],[],["786ebecc.87914"]]},{"id":"dba1eca5.245e1","type":"inject","name":"Reset system","topic":"system","payload":"System reset!","repeat":"","crontab":"","once":true,"x":271.2395935058594,"y":196.47552490234375,"z":"c06fbd88.3f904","wires":[["b5db7ef5.4a248","ea93f72c.156c08"]]},{"id":"786ebecc.87914","type":"debug","name":"","active":true,"complete":false,"x":620.3077392578125,"y":269.3846435546875,"z":"c06fbd88.3f904","wires":[]},{"id":"b5db7ef5.4a248","type":"function","name":"system setup","func":"\n// select pins used by add on board\ncontext.global.ledpin = 1;\ncontext.global.valve1pin = 3;\ncontext.global.valve2pin = 2;\ncontext.global.relaysetpin = 0;\ncontext.global.relayresetpin = 6;\ncontext.global.lcdbacklightpin = 7;\n\n// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\n// use the default WiringPi pin number scheme...\nwpi.setup();\n\n// set the pin modes\nwpi.pinMode(context.global.lcdbacklightpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve1pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve2pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relaysetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relayresetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.ledpin, wpi.modes.PWM_OUTPUT);\nwpi.pwmSetRange(100);\n\n// reset outputs\nwpi.pwmWrite(context.global.ledpin, 0);\nwpi.digitalWrite(context.global.valve1pin, 0);\nwpi.digitalWrite(context.global.valve2pin, 0);\n\n// clear alert\ncontext.global.alertSent = false;\n\n// set to manual mode\ncontext.global.mode = 'manual';\n\nreturn msg;","outputs":1,"x":429.5577850341797,"y":196.97552490234375,"z":"c06fbd88.3f904","wires":[["c6cb7b0d.393488"]]},{"id":"8246aa03.7db958","type":"function","name":"Check arduino alive","func":"if (context.global.alertSent == false\n\t&& context.global.lastAlive\n     \t< new Date().getTime() - 10000) {\n\tmsg.payload = 'The arduino is dead!';\n\tcontext.global.alertSent = true;\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":437.3077392578125,"y":318.3846435546875,"z":"c06fbd88.3f904","wires":[["786ebecc.87914","e6bbe83c.194418","ed84e3a.f127b2"]]},{"id":"c6cb7b0d.393488","type":"mqtt out","name":"","topic":"system","broker":"817e85f1.7e8178","x":585,"y":197,"z":"c06fbd88.3f904","wires":[]},{"id":"e6bbe83c.194418","type":"mqtt out","name":"","topic":"alert","broker":"817e85f1.7e8178","x":618,"y":364,"z":"c06fbd88.3f904","wires":[]},{"id":"ed84e3a.f127b2","type":"twitter out","twitter":"","name":"Tweet","x":619.3077392578125,"y":317.3846435546875,"z":"c06fbd88.3f904","wires":[]},{"id":"bc8214b1.437de8","type":"inject","name":"Watchdog","topic":"","payload":"","repeat":"10","crontab":"","once":false,"x":268.3077392578125,"y":318.3846435546875,"z":"c06fbd88.3f904","wires":[["8246aa03.7db958"]]},{"id":"b803b8ba.47fc48","type":"inject","name":"Allow air in","topic":"","payload":"allow air in","repeat":"","crontab":"","once":false,"x":97,"y":591,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"42b5eff6.bd4a1","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":394,"y":584,"z":"621ad2ed.9de52c","wires":[]},{"id":"73112be5.8ceed4","type":"inject","name":"Block air","topic":"","payload":"block air","repeat":"","crontab":"","once":false,"x":103,"y":557,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"dbaa9849.245568","type":"inject","name":"Allow air out","topic":"","payload":"allow air out","repeat":"","crontab":"","once":false,"x":108,"y":625,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"4498cb03.bb6734","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":254,"y":421,"z":"c06fbd88.3f904","wires":[["290641ee.d6f9be"]]},{"id":"290641ee.d6f9be","type":"function","name":"Log last arduino alive time","func":"if (msg.payload == 'alive') {\n\tcontext.global.lastAlive = new Date().getTime();\n}","outputs":1,"x":463,"y":421,"z":"c06fbd88.3f904","wires":[[]]}]