aquaponics.json
[{"type":"tab","id":"68e6389f.9719c8","label":"Valve"},{"type":"tab","id":"621ad2ed.9de52c","label":"Test Controls"},{"type":"tab","id":"c06fbd88.3f904","label":"Hardware"},{"type":"tab","id":"4c7c29f.fb383d8","label":"Radio"},{"type":"tab","id":"dcfc1ab5.2303e8","label":"Cassandra"},{"type":"tab","id":"2f3c8bd6.d0c374","label":"Dashboard"},{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"dc441eae.23bbe","type":"websocket-listener","path":"/ws/aquadata","wholemsg":"true"},{"id":"d5bd4042.2a42c","type":"websocket-listener","path":"/ws/airtemp","wholemsg":"true"},{"id":"ee2b4238.11d4c","type":"websocket-listener","path":"/ws/light","wholemsg":"true"},{"id":"9db36a6b.624c98","type":"websocket-listener","path":"/ws/watertemp","wholemsg":"true"},{"id":"f3a4af87.0c5b5","type":"websocket-listener","path":"/ws/current1","wholemsg":"true"},{"id":"391fea67.c6e016","type":"websocket-listener","path":"/ws/current2","wholemsg":"true"},{"id":"87de2f0e.7821d","type":"websocket-listener","path":"/ws/current3","wholemsg":"true"},{"id":"91610cdd.6e9ef","type":"websocket-listener","path":"/ws/ph","wholemsg":"true"},{"id":"de579d7f.21a86","type":"websocket-listener","path":"/ws/diglevel","wholemsg":"true"},{"id":"b6a8f473.495708","type":"websocket-listener","path":"/ws/lightbatt","wholemsg":"true"},{"id":"ebda7e8.f14258","type":"websocket-listener","path":"/ws/phbatt","wholemsg":"true"},{"id":"ec2ce80d.13d318","type":"websocket-listener","path":"/ws/system","wholemsg":"true"},{"id":"935f5e4a.6ca0a","type":"websocket-listener","path":"/ws/valve","wholemsg":"true"},{"id":"4594d78b.ba6b28","type":"websocket-listener","path":"/ws/solenoids","wholemsg":"true"},{"id":"6063b5a1.9f9c4c","type":"websocket-listener","path":"/ws/aquadata","wholemsg":"true"},{"id":"c951866d.36ae78","type":"function","name":"Valve","func":"//outputs (exclusive)\nvar fill = null;\nvar hold = null;\nvar topup = null;\nvar empty = null;\n\n// initialise valve to idle if none exists\nvar initialValve = {state: 'idle'};\nvar valve = context.valve || initialValve;\n\n// interrupts\n// always empty when asked to\nif (msg.payload == 'empty') {\n    // unless already in process of emptying\n    if (valve.state == 'emptying') {\n          return null;\n        } else {\n            valve.state = \"readytoempty\";\n        }\n} else if (msg.payload == 'fill') {\n// but don't start a fill unless idle\n        if (valve.state != 'idle') {\n                return null;\n        } else {\n                valve.state = 'readytofill';\n        }\n}\n\nvar stately = context.global.stately;\nvar machine = stately.define({\n    readytofill: function (valve) {\n                fill = msg;\n                valve.state = 'filling';\n                context.global.startedFilling = new Date().getTime();\n    },\n    filling: function (valve) {\n                hold = msg;\n                valve.state = 'holding';\n    },\n    holding: function (valve) {\n                topup = msg;\n                valve.state = 'filling';\n    },\n    readytoempty: function (valve) {\n        empty = msg;\n        valve.state = 'emptying';\n    },\n    emptying: function (valve) {\n        if (msg.payload == 'idle') {\n                valve.state = 'idle';\n                context.global.startedFilling = null;\n        } else {\n        \treturn null;\n        }\n    }\n});\n\nmachine.handle(valve);\ncontext.valve = valve;\nreturn [fill, hold, topup, empty, {payload: context.global.startedFilling}];","outputs":"4","x":202,"y":638.6666851043701,"z":"68e6389f.9719c8","wires":[["5994f79f.a66b08"],["babade02.45452"],["51cc885d.ae3378"],["35bce5ba.ca431a"]]},{"id":"19e49125.e61b6f","type":"inject","name":"Empty Grow Bed","topic":"","payload":"empty","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.0000114440918,"y":261.99999618530273,"z":"68e6389f.9719c8","wires":[["ce771f97.3188e"]]},{"id":"7f3b7fe7.80c48","type":"inject","name":"Fill Grow Bed","topic":"","payload":"fill","payloadType":"string","repeat":"","crontab":"","once":false,"x":107.00001525878906,"y":212.00000953674316,"z":"68e6389f.9719c8","wires":[["ce771f97.3188e"]]},{"id":"5994f79f.a66b08","type":"template","name":"filling","template":"filling","x":333.28577423095703,"y":567.3809571266174,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","33ee63a9.cc119c","77231e53.88dce"]]},{"id":"51cc885d.ae3378","type":"template","name":"topping up","template":"topping up","x":343.0000457763672,"y":668.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","f165fa17.0e9a08"]]},{"id":"35bce5ba.ca431a","type":"template","name":"emptying","template":"emptying","x":345.0000457763672,"y":727.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","8f56aaa8.70a958","77231e53.88dce"]]},{"id":"babade02.45452","type":"template","name":"holding","template":"holding","x":336.0000457763672,"y":614.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","a60476fd.59fb88","77231e53.88dce"]]},{"id":"1affc41a.e5003c","type":"mqtt in","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":67,"y":639.6666812896729,"z":"68e6389f.9719c8","wires":[["c951866d.36ae78"]]},{"id":"ce771f97.3188e","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":290.047607421875,"y":237.85711669921875,"z":"68e6389f.9719c8","wires":[]},{"id":"4e15ef73.b1ea1","type":"delay","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":662.7253646850586,"y":578.1282110214233,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"2d00a44b.d2ff5c","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":1038.7885284423828,"y":619.9743766784668,"z":"68e6389f.9719c8","wires":[]},{"id":"4ca619d6.b359e8","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":664.1539268493652,"y":622.128210067749,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"d5c77159.2a389","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":668.1539268493652,"y":674.128210067749,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"9dcc862.f623378","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":673.1539268493652,"y":736.128210067749,"z":"68e6389f.9719c8","wires":[["fe60789e.019f88","2d00a44b.d2ff5c","abb2cb8d.544d38"]]},{"id":"90e8d857.6f1728","type":"debug","name":"Valve detail debug","active":true,"console":"false","complete":"false","x":529.2419281005859,"y":789.337025642395,"z":"68e6389f.9719c8","wires":[]},{"id":"fe60789e.019f88","type":"template","name":"idle","template":"idle","x":859.8847007751465,"y":733.1089677810669,"z":"68e6389f.9719c8","wires":[["6ffb67e1.900498","2d00a44b.d2ff5c"]]},{"id":"5f1b6ebd.a0e49","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":800.6539916992188,"y":847.4359683990479,"z":"68e6389f.9719c8","wires":[]},{"id":"33ee63a9.cc119c","type":"template","name":"allow air in","template":"allow air in","x":490.9560241699219,"y":573.6996412277222,"z":"68e6389f.9719c8","wires":[["4e15ef73.b1ea1","5f1b6ebd.a0e49"]]},{"id":"a60476fd.59fb88","type":"template","name":"block air","template":"block air","x":501.615421295166,"y":616.6666803359985,"z":"68e6389f.9719c8","wires":[["4ca619d6.b359e8","5f1b6ebd.a0e49"]]},{"id":"f165fa17.0e9a08","type":"template","name":"allow air in","template":"allow air in","x":503.1539764404297,"y":674.3589792251587,"z":"68e6389f.9719c8","wires":[["d5c77159.2a389","5f1b6ebd.a0e49"]]},{"id":"8f56aaa8.70a958","type":"template","name":"allow air out","template":"allow air out","x":513.1539306640625,"y":729.7436113357544,"z":"68e6389f.9719c8","wires":[["9dcc862.f623378","5f1b6ebd.a0e49"]]},{"id":"6ffb67e1.900498","type":"debug","name":"","active":true,"complete":false,"x":1018.2500152587891,"y":732.9166860580444,"z":"68e6389f.9719c8","wires":[]},{"id":"abb2cb8d.544d38","type":"template","name":"block air","template":"block air","x":863.2500610351562,"y":782.9166774749756,"z":"68e6389f.9719c8","wires":[["5f1b6ebd.a0e49"]]},{"id":"a099cfa3.5f663","type":"function","name":"Empty at Max level","func":"maxLevel = 15;\n\nif (msg.payload > maxLevel) {\n\tmsg.payload = \"empty\";\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":312.31752014160156,"y":496.8094177246094,"z":"68e6389f.9719c8","wires":[["e702605f.18fda","6ea93e52.9156c"]]},{"id":"e702605f.18fda","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":528.9365692138672,"y":467.52381324768066,"z":"68e6389f.9719c8","wires":[]},{"id":"be4207fd.41bdf8","type":"function","name":"Empty at Max fill time","func":"var maxFillTime = 360; // seconds\n\nif (context.global.startedFilling != null &&\n  (new Date().getTime() - context.global.startedFilling)\n\t> 1000 * maxFillTime) {\n\tmsg.payload = \"empty\";\t\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":315.17457580566406,"y":424.238037109375,"z":"68e6389f.9719c8","wires":[["e702605f.18fda","8a452f82.75bad"]]},{"id":"f610713c.09ef9","type":"inject","name":"Safety Set (watchdog)","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":121.31745529174805,"y":423.3808994293213,"z":"68e6389f.9719c8","wires":[["be4207fd.41bdf8"]]},{"id":"6ea93e52.9156c","type":"template","name":"Max Level Reached","template":"Max Level","x":555.0634460449219,"y":510.6825428009033,"z":"68e6389f.9719c8","wires":[["85666394.7a99a","f77921d9.0886e"]]},{"id":"8a452f82.75bad","type":"template","name":"Max Fill Time Reached","template":"Max Fill Time","x":562.2063827514648,"y":424.65078353881836,"z":"68e6389f.9719c8","wires":[["85666394.7a99a","f77921d9.0886e"]]},{"id":"85666394.7a99a","type":"debug","name":"Safety Reporter","active":true,"console":"false","complete":"false","x":726.0158348083496,"y":469.5714303255081,"z":"68e6389f.9719c8","wires":[]},{"id":"34d2b280.cb2d4e","type":"comment","name":"Manual Controls","info":"","x":83.00001525878906,"y":165.9999942779541,"z":"68e6389f.9719c8","wires":[]},{"id":"4314b6e0.bceb48","type":"comment","name":"Filling and Emptying Process","info":"","x":120,"y":568.6666851043701,"z":"68e6389f.9719c8","wires":[]},{"id":"7deea691.821158","type":"comment","name":"Automatic Controls","info":"","x":87.22222900390625,"y":305.9999694824219,"z":"68e6389f.9719c8","wires":[]},{"id":"448088a2.bb7f78","type":"inject","name":"Turn On","topic":"","payload":"automatic","payloadType":"string","repeat":"","crontab":"","once":false,"x":99.66668701171875,"y":65.66669654846191,"z":"68e6389f.9719c8","wires":[["17bf88dc.e84077"]]},{"id":"6977a44e.96885c","type":"inject","name":"Turn Off","topic":"","payload":"manual","payloadType":"string","repeat":"","crontab":"","once":false,"x":100,"y":111.33332824707031,"z":"68e6389f.9719c8","wires":[["17bf88dc.e84077"]]},{"id":"17bf88dc.e84077","type":"function","name":"Change Mode","func":"context.global.mode = msg.payload;\nreturn msg;","outputs":1,"x":256.6666564941406,"y":110.66665649414062,"z":"68e6389f.9719c8","wires":[["c7f89dfb.45f308"]]},{"id":"bc8d6305.4372a","type":"comment","name":"Automatic Mode ","info":"","x":80,"y":24,"z":"68e6389f.9719c8","wires":[]},{"id":"130f3a41.ecf0c6","type":"inject","name":"Start","topic":"","payload":"fill","payloadType":"string","repeat":"","crontab":"*/30 6-18 * * *","once":false,"x":116.66667175292969,"y":354.6666564941406,"z":"68e6389f.9719c8","wires":[["78beac84.874154"]]},{"id":"78beac84.874154","type":"function","name":"... but only in auto mode","func":"if (context.global.mode != 'automatic') {\n\treturn null;\n}\nreturn msg;","outputs":1,"x":379.66668701171875,"y":356,"z":"68e6389f.9719c8","wires":[["139dab35.ec6255"]]},{"id":"139dab35.ec6255","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":660.6666259765625,"y":365,"z":"68e6389f.9719c8","wires":[]},{"id":"f77921d9.0886e","type":"mqtt out","name":"","topic":"system","broker":"817e85f1.7e8178","x":941.2222290039062,"y":443.77777099609375,"z":"68e6389f.9719c8","wires":[]},{"id":"f8b936af.0746c8","type":"comment","name":"<- Click Here To Turn On AUTOMode!!!","info":"","x":333,"y":63.666656494140625,"z":"68e6389f.9719c8","wires":[]},{"id":"2a1ed4f9.d5e12c","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":85.99998474121094,"y":485.6666660308838,"z":"68e6389f.9719c8","wires":[["a099cfa3.5f663"]]},{"id":"21a6d12e.de592e","type":"mqtt in","name":"receive Solenoids instruction","topic":"solenoids","broker":"817e85f1.7e8178","x":119,"y":82,"z":"c06fbd88.3f904","wires":[["a01cffe7.5fe3"]]},{"id":"a01cffe7.5fe3","type":"function","name":"set Solenoids","func":"var wpi = context.global.wpi;\nswitch (msg.payload) {\n\tcase \"block air\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak; \n\tcase \"allow air in\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 1);\n\t\tbreak;\n\tcase \"allow air out\":\n\t\twpi.digitalWrite(context.global.valve1pin, 1);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = null;\n}\nreturn msg;","outputs":"1","x":331.33331298828125,"y":84.00000762939453,"z":"c06fbd88.3f904","wires":[["c275b7a4.3d8a48"]]},{"id":"c275b7a4.3d8a48","type":"template","name":"Solenoids output","template":"Solenoids set to {{payload}}","x":511.0000305175781,"y":83.44454193115234,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"5872be84.a78d4","type":"debug","name":"","active":false,"complete":"false","x":654.0278930664062,"y":82.444580078125,"z":"c06fbd88.3f904","wires":[]},{"id":"76d02fd6.892fd","type":"template","name":"LED output","template":"Setting light level to: {{payload}}%","x":510.91668701171875,"y":47.77782440185547,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"69ca620a.96359c","type":"template","name":"Relay output","template":"{{#payload}}\n  Operating Relay\n{{/payload}}\n{{^payload}}\n  Reseting Relay\n{{/payload}}","x":511.88885498046875,"y":118.4443359375,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"5c125530.a3edac","type":"function","name":"set level","func":"// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\nvar level = parseInt(msg.payload);\nwpi.pwmWrite(context.global.ledpin, level);\n\nreturn msg;","outputs":1,"x":364.80560302734375,"y":47.77772521972656,"z":"c06fbd88.3f904","wires":[["76d02fd6.892fd"]]},{"id":"2f9267fe.d06d98","type":"function","name":"energise relay","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.relaysetpin, 1);\n} else {\n\twpi.digitalWrite(context.global.relayresetpin, 1);\n}\nreturn msg;","outputs":"1","x":363.2221984863281,"y":119.44432830810547,"z":"c06fbd88.3f904","wires":[["69ca620a.96359c","98a6eb67.675918"]]},{"id":"92539321.6dac7","type":"mqtt in","name":"receive LED level","topic":"led","broker":"817e85f1.7e8178","x":198.58334732055664,"y":48.77777671813965,"z":"c06fbd88.3f904","wires":[["5c125530.a3edac"]]},{"id":"98a6eb67.675918","type":"delay","name":"10 ms delay","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":510.1111145019531,"y":154.22229766845703,"z":"c06fbd88.3f904","wires":[["726fa07b.8d906"]]},{"id":"d7420809.28bdf8","type":"mqtt in","name":"receive Relay instruction","topic":"relay","broker":"817e85f1.7e8178","x":164.88885498046875,"y":119.44434356689453,"z":"c06fbd88.3f904","wires":[["2f9267fe.d06d98"]]},{"id":"726fa07b.8d906","type":"function","name":"de-energise relay","func":"var wpi = context.global.wpi;\n\nwpi.digitalWrite(context.global.relaysetpin, 0);\nwpi.digitalWrite(context.global.relayresetpin, 0);\n\nmsg.payload = \"... and off.\"\nreturn msg;","outputs":"1","x":666.333251953125,"y":153.66651153564453,"z":"c06fbd88.3f904","wires":[[]]},{"id":"b6028f30.49fd7","type":"inject","name":"Test the Water Temperature","topic":"test_this","payload":"Water Temperature","repeat":"","crontab":"","once":false,"x":149,"y":204.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"ef22711d.10dd9","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":428.9047565460205,"y":410.15868854522705,"z":"621ad2ed.9de52c","wires":[["92dc1534.6d23e8"]]},{"id":"11927d76.ee6d83","type":"inject","name":"Test the Air Pump 1 Current","topic":"test_this","payload":"Air Pump 1 Current","repeat":"","crontab":"","once":false,"x":146.52730178833008,"y":37.212660789489746,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"92dc1534.6d23e8","type":"function","name":"Test router","func":"var debugOut = null;\nvar ledOut = null;\nvar relayOut = null;\n\nswitch (msg.topic) {\n\tcase \"led\":\n\t\tledOut = msg;\n\t\tbreak;\n\tcase \"relay\":\n\t\trelayOut = msg;\n\t\tbreak;\n\tdefault:\n\t\tdebugOut = msg;\n}\nreturn [debugOut, ledOut, relayOut]","outputs":"3","x":554.2380714416504,"y":409.82538175582886,"z":"621ad2ed.9de52c","wires":[["c15c1665.3ea3e8"],["f4631f9.f0b9ce"],["934f9bc3.6cb068"]]},{"id":"1c69dd34.e39623","type":"inject","name":"Test the LED","topic":"test_this","payload":"led","repeat":"","crontab":"","once":false,"x":97.5,"y":405.0634651184082,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"f9e52a64.061ad8","type":"inject","name":"Test the Light Level","topic":"test_this","payload":"Light","payloadType":"string","repeat":"","crontab":"","once":false,"x":122.5,"y":138.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"fdc7bbb1.023848","type":"inject","name":"STOP TESTING","topic":"test_this","payload":"0","repeat":"","crontab":"","once":false,"x":111.69049072265625,"y":471.3610725402832,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"a98bcfd1.56743","type":"function","name":"LED sequence","func":"var levels = [0, 2, 5, 10, 25, 100];\ncontext.index = context.index || 0;\ncontext.index = context.index + 1;\n\nif (context.index == levels.length) {\n\tcontext.index = 0;\n}\n\nmsg.topic = 'led';\nmsg.payload = levels[context.index];\nreturn msg;","outputs":"1","x":295.6031608581543,"y":493.38090896606445,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"4a0cb69a.b5f348","type":"inject","name":"Test the Air Temperature","topic":"test_this","payload":"Air Temperature","repeat":"","crontab":"","once":false,"x":138.5,"y":170.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"3ffcce16.c00332","type":"inject","name":"Test the Water Pump Current","topic":"test_this","payload":"Water Pump Current","repeat":"","crontab":"","once":false,"x":151.40966987609863,"y":104.62442874908447,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"72d729ed.8d28d8","type":"inject","name":"Test the Air Pump 2 Current","topic":"test_this","payload":"Air Pump 2 Current","repeat":"","crontab":"","once":false,"x":146.52730560302734,"y":70.80089664459229,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"d29fee41.2d601","type":"inject","name":"Test the Digital Water Level","topic":"test_this","payload":"Digital Water Level","repeat":"","crontab":"","once":false,"x":145.57141876220703,"y":236.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"94d56884.6b2a98","type":"inject","name":"Test the Relay","topic":"test_this","payload":"relay","repeat":"","crontab":"","once":false,"x":100.5714111328125,"y":439.7420539855957,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"313b83b.fcec47c","type":"function","name":"Relay sequence","func":"context.global.relaystate = \n\tcontext.global.relaystate ? 0 : 1;\n\t\t\nmsg.topic = 'relay';\nmsg.payload = context.global.relaystate;\nreturn msg;\n\n","outputs":"1","x":297.5714302062988,"y":533.7420845031738,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"2da1435c.d25ebc","type":"inject","name":"Test the Analogue Water Level","topic":"test_this","payload":"Analogue Water Level","repeat":"","crontab":"","once":false,"x":155.57142639160156,"y":271.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"aa7ec8a9.558138","type":"inject","name":"Test the pH","topic":"test_this","payload":"pHradio","payloadType":"string","repeat":"","crontab":"","once":false,"x":93.57141876220703,"y":300.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"42550350.bdaafc","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":608.539680480957,"y":30,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"15ff0d01.ea00f3","type":"template","name":"Amps Output","template":"{{topic}}: {{payload}} A","x":623.9365291595459,"y":160.33329677581787,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"274a2f7c.d8b5d","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} C","x":630.2380981445312,"y":80.22225666046143,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"5d56654c.a2a99c","type":"template","name":"Unitless Output","template":"{{topic}}: {{payload}}","x":629.7936782836914,"y":243.98010444641113,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"1a91cb0f.e56e35","type":"template","name":"Centimeter Output","template":"{{topic}}: {{payload}} cm","x":638.8253784179688,"y":295.51972675323486,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"c15c1665.3ea3e8","type":"debug","name":"Test Data","active":true,"complete":"false","x":715.65478515625,"y":377.90875244140625,"z":"621ad2ed.9de52c","wires":[]},{"id":"f4631f9.f0b9ce","type":"mqtt out","name":"set LED level","topic":"led","broker":"817e85f1.7e8178","x":740.2380981445312,"y":417.82537841796875,"z":"621ad2ed.9de52c","wires":[]},{"id":"934f9bc3.6cb068","type":"mqtt out","name":"set Relay state","topic":"relay","broker":"817e85f1.7e8178","x":738.90478515625,"y":461.4087219238281,"z":"621ad2ed.9de52c","wires":[]},{"id":"9d965345.6269b","type":"inject","name":"Trigger (ignore)","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":141.34921264648438,"y":513.0475959777832,"z":"621ad2ed.9de52c","wires":[["a98bcfd1.56743","313b83b.fcec47c"]]},{"id":"e712f345.18ed1","type":"mqtt in","name":"","topic":"Light","broker":"817e85f1.7e8178","x":483.42061614990234,"y":30.825385093688965,"z":"621ad2ed.9de52c","wires":[["42550350.bdaafc"]]},{"id":"337b622c.cc849e","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":457.86506843566895,"y":129.11107444763184,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"afad20f7.5052e","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":455.6428470611572,"y":194.22218704223633,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"aed674e4.512988","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":457.8650703430176,"y":162.11108207702637,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"df000c51.20fff","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":465.6428451538086,"y":64.3333683013916,"z":"621ad2ed.9de52c","wires":[["274a2f7c.d8b5d"]]},{"id":"a8619f29.579e6","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":455.6428470611572,"y":96.55556583404541,"z":"621ad2ed.9de52c","wires":[["274a2f7c.d8b5d"]]},{"id":"781d26f8.87e2d8","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":463.5793647766113,"y":262.2657222747803,"z":"621ad2ed.9de52c","wires":[["5d56654c.a2a99c"]]},{"id":"b8a5f166.475a1","type":"mqtt in","name":"pH","topic":"pHradio","broker":"817e85f1.7e8178","x":490.722225189209,"y":227.26571464538574,"z":"621ad2ed.9de52c","wires":[["5d56654c.a2a99c"]]},{"id":"1c91ceb.fe36e31","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":456.4365062713623,"y":295.8372039794922,"z":"621ad2ed.9de52c","wires":[["1a91cb0f.e56e35"]]},{"id":"5844948f.a7bb6c","type":"inject","name":"Auto Reboot Arduino every 4 hours","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 */4 * * *","once":false,"x":178,"y":249,"z":"c06fbd88.3f904","wires":[[]]},{"id":"ea93f72c.156c08","type":"exec","command":"cd /home/pi/aquaponics-arduino && ino upload && echo Arduino reset!","append":"","useSpawn":false,"name":"Reset Arduino","x":439,"y":250,"z":"c06fbd88.3f904","wires":[["786ebecc.87914","c6cb7b0d.393488"],[],[]]},{"id":"dba1eca5.245e1","type":"inject","name":"Reset system","topic":"system reset at start/deploy","payload":"Reset","payloadType":"string","repeat":"","crontab":"","once":true,"x":271.2395935058594,"y":196.47552490234375,"z":"c06fbd88.3f904","wires":[["b5db7ef5.4a248"]]},{"id":"786ebecc.87914","type":"debug","name":"System Monitor","active":true,"console":"true","complete":"false","x":650.3077354431152,"y":296.02099990844727,"z":"c06fbd88.3f904","wires":[]},{"id":"b5db7ef5.4a248","type":"function","name":"system setup","func":"\n// select pins used by add on board\ncontext.global.ledpin = 1;\ncontext.global.valve1pin = 3;\ncontext.global.valve2pin = 2;\ncontext.global.relaysetpin = 0;\ncontext.global.relayresetpin = 4;\n//context.global.lcdbacklightpin = 7;\n\n// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\n// use the default WiringPi pin number scheme...\nwpi.setup();\n\n// set the pin modes\n//wpi.pinMode(context.global.lcdbacklightpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve1pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve2pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relaysetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relayresetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.ledpin, wpi.modes.PWM_OUTPUT);\nwpi.pwmSetRange(100);\n\n// reset outputs\nwpi.pwmWrite(context.global.ledpin, 0);\nwpi.digitalWrite(context.global.valve1pin, 0);\nwpi.digitalWrite(context.global.valve2pin, 0);\n\n// clear alert\ncontext.global.alertSent = false;\n\n// set to manual mode\ncontext.global.mode = 'manual';\n\nreturn msg;","outputs":1,"x":439.55780029296875,"y":195.97552490234375,"z":"c06fbd88.3f904","wires":[["c6cb7b0d.393488"]]},{"id":"c6cb7b0d.393488","type":"mqtt out","name":"","topic":"system","broker":"817e85f1.7e8178","x":675.9091033935547,"y":243.36364364624023,"z":"c06fbd88.3f904","wires":[]},{"id":"b803b8ba.47fc48","type":"inject","name":"Allow air in","topic":"","payload":"allow air in","repeat":"","crontab":"","once":false,"x":97,"y":591,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"42b5eff6.bd4a1","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":394,"y":584,"z":"621ad2ed.9de52c","wires":[]},{"id":"73112be5.8ceed4","type":"inject","name":"Block air","topic":"","payload":"block air","repeat":"","crontab":"","once":false,"x":103,"y":557,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"dbaa9849.245568","type":"inject","name":"Allow air out","topic":"","payload":"allow air out","repeat":"","crontab":"","once":false,"x":108,"y":625,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"461d546d.b9e2ac","type":"inject","name":"Start Receving","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":138,"y":89,"z":"4c7c29f.fb383d8","wires":[["9d525e7e.62ada"]]},{"id":"9d525e7e.62ada","type":"exec","command":"/home/pi/rfm12b-linux/examples/bin/rfm12b_read","append":"","useSpawn":true,"name":"RFM12b","x":291,"y":91,"z":"4c7c29f.fb383d8","wires":[["6d9ed14e.92613","86bbee4b.79441"],[],[]]},{"id":"6d9ed14e.92613","type":"debug","name":"Radio Monitor","active":false,"console":"false","complete":"false","x":441,"y":79,"z":"4c7c29f.fb383d8","wires":[]},{"id":"86bbee4b.79441","type":"function","name":"Parse Radio Data","func":"var msgString = msg.payload.toString(); \n\nif (msgString.indexOf(\"failed\") != -1) {\n\terrorMsg = {payload: msgString};\n\treturn [null, errorMsg];\n}\n\n// Fetch array from buffer\nvar rawArray = msgString.split(/\\s/);\n\nvar errorMsg = null; // will populate on error\nmsg = null; // will populate if no errors\n\n// strip off preamble and final newline\nvar dataArray = rawArray.slice(11, -2);\n\nvar nodeId = dataArray[0];\nvar numBytesExpected = dataArray[1];\nvar numBytesGot = dataArray.length - 2;\nvar sensorId = dataArray[2];\nvar readings = dataArray.slice(4);\n\n// check integrity\nif (nodeId > 32) {\n\terrorMsg = {payload: 'Invalid Node Id: ' + nodeId}; \n} else if (sensorId > 15) {\n\terrorMsg = {payload: 'Invalid Sensor Id: ' + sensorId};\n} else if (numBytesExpected != numBytesGot) {\n\terrorMsg = {payload: 'Expected ' + numBytesExpected + ' bytes, got ' + numBytesGot};\n} else {\n//errorMsg = dataArray;\n\tmsg = {\n\t\tnodeId: nodeId,\n\t\tsensorId: sensorId,\n\t\treadings: readings\n\t}\n}\n\nreturn [msg, errorMsg];","outputs":"2","x":376.5,"y":146,"z":"4c7c29f.fb383d8","wires":[["86b62d4.f7949d"],["31c4f60.fce3b0a"]]},{"id":"86b62d4.f7949d","type":"function","name":"Calculate readings","func":"// Array contains two readings, each occupying 2\n// elements (bytes).\n\nvar MSB = msg.readings.pop();\nvar LSB = msg.readings.pop(); \nvar secondReading = 256* parseFloat(MSB)+ parseFloat(LSB);\n\nvar MSB = msg.readings.pop();\nvar LSB = msg.readings.pop(); \nvar firstReading = 256* parseFloat(MSB)+ parseFloat(LSB);\n\nmsg.firstReading = firstReading\nmsg.secondReading = secondReading;\n\nreturn msg;","outputs":"1","x":210,"y":212,"z":"4c7c29f.fb383d8","wires":[["f3f5c620.0c0a38"]]},{"id":"31c4f60.fce3b0a","type":"debug","name":"Bad Radio","active":true,"console":"false","complete":"false","x":535,"y":183,"z":"4c7c29f.fb383d8","wires":[]},{"id":"f3f5c620.0c0a38","type":"switch","name":"","property":"sensorId","rules":[{"t":"eq","v":1,"v2":0},{"t":"eq","v":2,"v2":0},{"t":"eq","v":3,"v2":0},{"t":"eq","v":4,"v2":0},{"t":"eq","v":5,"v2":0}],"checkall":"true","outputs":5,"x":177,"y":327,"z":"4c7c29f.fb383d8","wires":[["63b26fe6.9c4d9"],["6877b519.97884c","b1e39660.4e1c68"],["79231388.86dcec"],["ccdcd79c.332328"],["56e51362.5df50c"]]},{"id":"63b26fe6.9c4d9","type":"function","name":"Scale Voltage","func":"/* \n    1023 steps, 4.5 max voltage\n*/\n\nvar rawReading = msg.firstReading;\nvar voltsFloat = rawReading / 1023 * 5.16; \nmsg.payload = voltsFloat.toFixed(2);\nreturn msg;","outputs":1,"x":444,"y":248,"z":"4c7c29f.fb383d8","wires":[["9fc745cc.6038b8"]]},{"id":"6877b519.97884c","type":"function","name":"Scale Air Temp","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nvar temp = msg.secondReading;\nmsg.payload = temp / 10;\n\n\nreturn msg;","outputs":1,"x":433,"y":334,"z":"4c7c29f.fb383d8","wires":[["590043a0.a6ffbc"]]},{"id":"b1e39660.4e1c68","type":"function","name":"Scale Humdity","func":"msg.payload = msg.firstReading;\nreturn msg;","outputs":1,"x":430,"y":292,"z":"4c7c29f.fb383d8","wires":[["eff7dd58.10082"]]},{"id":"79231388.86dcec","type":"function","name":"Parse Light","func":"msg.payload = msg.firstReading * 1.1;\nmsg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":"1","x":424,"y":384,"z":"4c7c29f.fb383d8","wires":[["86676f3d.79989"]]},{"id":"ccdcd79c.332328","type":"function","name":"Scale Water Temp","func":"msg.payload = msg.firstReading / 10;\n\nreturn msg;","outputs":1,"x":439,"y":435,"z":"4c7c29f.fb383d8","wires":[["c0ef6ce1.3f109"]]},{"id":"c5223a00.3addc8","type":"mqtt out","name":"","topic":"Light_Voltage","broker":"817e85f1.7e8178","x":760.0000038146973,"y":218,"z":"4c7c29f.fb383d8","wires":[]},{"id":"590043a0.a6ffbc","type":"mqtt out","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":657,"y":323,"z":"4c7c29f.fb383d8","wires":[]},{"id":"eff7dd58.10082","type":"mqtt out","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":656,"y":287,"z":"4c7c29f.fb383d8","wires":[]},{"id":"86676f3d.79989","type":"mqtt out","name":"","topic":"Light","broker":"817e85f1.7e8178","x":649,"y":363,"z":"4c7c29f.fb383d8","wires":[]},{"id":"c0ef6ce1.3f109","type":"mqtt out","name":"Water Temp","topic":"Water Temperature","broker":"817e85f1.7e8178","x":648,"y":433,"z":"4c7c29f.fb383d8","wires":[]},{"id":"4122ac2b.bedd54","type":"inject","name":"Shutdown system","topic":"","payload":"initiated!","payloadType":"none","repeat":"","crontab":"","once":false,"x":278,"y":298,"z":"c06fbd88.3f904","wires":[["1e93e956.e16c17"]]},{"id":"1e93e956.e16c17","type":"exec","command":"sudo shutdown -h now && echo Shutdown","append":"","useSpawn":"","name":"Shutdown","x":435.3636474609375,"y":299.5,"z":"c06fbd88.3f904","wires":[["786ebecc.87914","c6cb7b0d.393488"],[],[]]},{"id":"4be2e9a4.b41d18","type":"inject","name":"Reboot system","topic":"","payload":"initiated!","payloadType":"none","repeat":"","crontab":"","once":false,"x":289,"y":351,"z":"c06fbd88.3f904","wires":[["8cfc567c.7303a8"]]},{"id":"8cfc567c.7303a8","type":"exec","command":"sudo shutdown -r now && echo Reboot","append":"","useSpawn":"","name":"Reboot","x":433.3636474609375,"y":350.5,"z":"c06fbd88.3f904","wires":[["786ebecc.87914","c6cb7b0d.393488"],[],[]]},{"id":"c7f89dfb.45f308","type":"template","name":"Mode formater","template":"Mode set to {{payload}}","x":415.55554962158203,"y":110.00000190734863,"z":"68e6389f.9719c8","wires":[["c2bedb01.831318","85a370d6.7a5c9"]]},{"id":"c2bedb01.831318","type":"debug","name":"Mode Reporter","active":true,"console":"false","complete":"false","x":608.6666870117188,"y":105,"z":"68e6389f.9719c8","wires":[]},{"id":"56e51362.5df50c","type":"function","name":"Scale pH","func":"msg.payload = msg.firstReading / 100;\nreturn msg;","outputs":1,"x":440,"y":486,"z":"4c7c29f.fb383d8","wires":[["6ce57e07.ec52c8"]]},{"id":"6ce57e07.ec52c8","type":"mqtt out","name":"pH","topic":"pHradio","broker":"817e85f1.7e8178","x":642,"y":483,"z":"4c7c29f.fb383d8","wires":[]},{"id":"b3706095.18f29","type":"inject","name":"Test the pH_Voltage","topic":"test_this","payload":"pH_Voltage","payloadType":"string","repeat":"","crontab":"","once":false,"x":119,"y":370.9999885559082,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"13387590.215cf2","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"817e85f1.7e8178","x":467.00000762939453,"y":331.9999885559082,"z":"621ad2ed.9de52c","wires":[["f19991f6.e91668"]]},{"id":"f19991f6.e91668","type":"template","name":"Voltage Output","template":"{{topic}}: {{payload}} V","x":646.3888549804688,"y":337.6825256347656,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"dfbf916d.20407","type":"mqtt in","name":"","topic":"Light","broker":"817e85f1.7e8178","x":125.4841079711914,"y":46.090911865234375,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"f003390b.0ffcc8","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":107.70633697509766,"y":79.59889507293701,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"485e78c.fb7a188","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":97.70633888244629,"y":111.82109260559082,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"dc51d899.23ae28","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":99.92856025695801,"y":144.37660121917725,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"f2f3695e.0d0c98","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":99.92856216430664,"y":177.37660884857178,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"b08091bd.4f7f7","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":97.70633888244629,"y":209.48771381378174,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"a43d51f5.5bc2b","type":"mqtt in","name":"pH","topic":"pHradio","broker":"817e85f1.7e8178","x":132.78571701049805,"y":242.53124141693115,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"5753bfb3.a8ac4","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":105.64285659790039,"y":277.5312490463257,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"493e7ea6.b6c18","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":98.49999809265137,"y":311.1027307510376,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"ad7be39.f52842","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"817e85f1.7e8178","x":121.06349182128906,"y":346.2655334472656,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"9fc745cc.6038b8","type":"switch","name":"","property":"nodeId","rules":[{"t":"eq","v":1,"v2":0},{"t":"eq","v":2,"v2":0}],"checkall":"true","outputs":2,"x":606.0909118652344,"y":252.09091186523438,"z":"4c7c29f.fb383d8","wires":[["c5223a00.3addc8"],["edacc69.f125338"]]},{"id":"edacc69.f125338","type":"mqtt out","name":"","topic":"pH_Voltage","broker":"817e85f1.7e8178","x":756.8181762695312,"y":258.0909118652344,"z":"4c7c29f.fb383d8","wires":[]},{"id":"53ae62df.ac519c","type":"inject","name":"Test the Light_Voltage","topic":"test_this","payload":"Light_Voltage","payloadType":"string","repeat":"","crontab":"","once":false,"x":125.09091186523438,"y":336.5454292297363,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"fb1270c6.04ed9","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"817e85f1.7e8178","x":465.0909118652344,"y":364.5454406738281,"z":"621ad2ed.9de52c","wires":[["f19991f6.e91668"]]},{"id":"3726d8fc.c8d928","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"817e85f1.7e8178","x":125.4841079711914,"y":380.0909118652344,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"3e379399.c1c86c","type":"mqtt in","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":339.95455741882324,"y":282.7727119922638,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"e212ac62.1ded5","type":"mqtt in","name":"","topic":"led","broker":"817e85f1.7e8178","x":351.22729301452637,"y":394.795462846756,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"b82a2774.47d5d8","type":"mqtt in","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":346.11364555358887,"y":320.5177204608917,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"acf2cfd2.530d3","type":"mqtt in","name":"","topic":"relay","broker":"817e85f1.7e8178","x":347.532808303833,"y":357.96202778816223,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"d90b7363.26f49","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":317.02272605895996,"y":56.15912461280823,"z":"dcfc1ab5.2303e8","wires":[["62b55a45.9d4aa4"]]},{"id":"62b55a45.9d4aa4","type":"function","name":"Log data every minute","func":"var topic = msg._topic;\nif (topic == 'system') {\n\treturn null; // system messages are strings\n\t\t\t     // db set to float\n}\ncontext[topic] = context[topic] || []\ncontext[topic].lastTimestamp = context[topic].lastTimestamp || 0;\nvar timestamp = Date.now();\nif (timestamp - context[topic].lastTimestamp > 60000) {\n\tcontext[topic].lastTimestamp = timestamp;\n\treturn {\n\t\t'payload': msg.payload,\n\t\t'topic': topic\n\t}\n}","outputs":1,"x":533.9999980926514,"y":211.0000126361847,"z":"dcfc1ab5.2303e8","wires":[["411ab0e7.bee55","811c68ba.7ee398"]]},{"id":"97c86229.6837a","type":"comment","name":"To change frequency, double-click \"Start\"","info":"","x":328,"y":307,"z":"68e6389f.9719c8","wires":[]},{"id":"411ab0e7.bee55","type":"debug","name":"","active":false,"console":false,"complete":false,"x":669.9999980926514,"y":274.0000126361847,"z":"dcfc1ab5.2303e8","wires":[]},{"id":"811c68ba.7ee398","type":"function","name":"cassandra","func":"context.client = context.client || new context.global.cql.Client({\n\thosts: ['aquagardenserver'],\n\tkeyspace: 'aquaponics'\n});\n\nvar insertCommand = \"insert into todmorden \"\n\t+\"(sensor_name, reading_time, reading_value) values \"\n\t+\"('\"+msg.topic+\"', dateof(now()), \"+msg.payload+\")\";\ncontext.client.execute(insertCommand, function(err, res){\n\n});\n\nreturn null;","outputs":1,"x":671.9999980926514,"y":104.00001263618469,"z":"dcfc1ab5.2303e8","wires":[[]]},{"id":"85a370d6.7a5c9","type":"mqtt out","name":"","topic":"system","broker":"817e85f1.7e8178","x":598.8888888888889,"y":178.88888888888889,"z":"68e6389f.9719c8","wires":[]},{"id":"1c8b103b.e374f","type":"mqtt in","name":"","topic":"Light","broker":"817e85f1.7e8178","x":153,"y":86,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"6ab441f1.954bc","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":135.22222900390625,"y":119.50798320770264,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"6229a501.9dd65c","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":125.22223091125488,"y":151.73018074035645,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"ae49629b.51b6a","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":128.4444580078125,"y":184.2856903076172,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"6407fea7.9bf8","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":127.44445419311523,"y":217.2856969833374,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"83f9a1e.f7c066","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":125.22223091125488,"y":249.39680194854736,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"b4c3a5f4.4b3c58","type":"mqtt in","name":"pH","topic":"pHradio","broker":"817e85f1.7e8178","x":160.30160903930664,"y":282.4403295516968,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"952fa804.6ad058","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":133.15874862670898,"y":317.4403371810913,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"c2358741.3dca78","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":126.01589012145996,"y":351.0118188858032,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"72ad6870.8d5298","type":"mqtt in","name":"","topic":"Light_Voltage","broker":"817e85f1.7e8178","x":148.57938385009766,"y":386.17462158203125,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"a4b3223c.5b4ce","type":"mqtt in","name":"","topic":"pH_Voltage","broker":"817e85f1.7e8178","x":153,"y":420,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"2ccc0586.d333fa","type":"mqtt in","name":"","topic":"Valve Messages","broker":"817e85f1.7e8178","x":138.58157348632812,"y":488.3484802246094,"z":"2f3c8bd6.d0c374","wires":[["a11e502f.5ee1b"]]},{"id":"bb38b746.44c748","type":"mqtt in","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":156.8517723083496,"y":521.6490230560303,"z":"2f3c8bd6.d0c374","wires":[["a11e502f.5ee1b"]]},{"id":"84b58ed3.7b4a7","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":158.53860473632812,"y":454.0682144165039,"z":"2f3c8bd6.d0c374","wires":[["a11e502f.5ee1b"]]},{"id":"afc8abed.503758","type":"function","name":"Buffer","func":"context.data = context.data || {};\ncontext.data[msg.topic] = msg.payload;\nreturn context.data;\n\n","outputs":1,"x":441.888916015625,"y":308.3332953453064,"z":"2f3c8bd6.d0c374","wires":[["37c824c6.c837dc","cbcbd632.343428"]]},{"id":"37c824c6.c837dc","type":"debug","name":"","active":false,"complete":"true","x":635.222282409668,"y":313.7777953147888,"z":"2f3c8bd6.d0c374","wires":[]},{"id":"cbcbd632.343428","type":"websocket out","name":"","server":"dc441eae.23bbe","x":617.4444580078125,"y":378.6666564941406,"z":"2f3c8bd6.d0c374","wires":[]},{"id":"a11e502f.5ee1b","type":"function","name":"Add timestamp","func":"\nvar now = context.global.moment();\nmsg.payload += ' @ '+now.format('H:mm:ss')\n\t\t     + ' '+now.format('D/M/YY');\n\nreturn msg;","outputs":1,"x":333,"y":488,"z":"2f3c8bd6.d0c374","wires":[["afc8abed.503758"]]},{"id":"77231e53.88dce","type":"mqtt out","name":"","topic":"Valve Messages","broker":"817e85f1.7e8178","x":505,"y":847,"z":"68e6389f.9719c8","wires":[]}]