flows/aquaponics.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c9fdfb2c.360208","type":"twitter-credentials","screen_name":"@garethcoleman"},{"id":"ba926a1f.456d98","type":"twitter-credentials","screen_name":"@TodmordenAqua"},{"id":"c0b295a4.3f4d68","type":"debug","name":"","active":true,"complete":"false","x":826.3560371398926,"y":251.75756168365479,"wires":[]},{"id":"5070b48b.af8f4c","type":"inject","name":"Test the Light Level","topic":"test_this","payload":"Far Light","repeat":"","crontab":"","once":false,"x":112.92858123779297,"y":125.3214111328125,"wires":[["d37c88d1.2c8378"]]},{"id":"d37c88d1.2c8378","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":504.3333435058594,"y":304.08329486846924,"wires":[["94551cd6.6baae"]]},{"id":"5f80af77.a07f5","type":"inject","name":"STOP TESTING","topic":"test_this","payload":"0","repeat":"","crontab":"","once":false,"x":246.6190643310547,"y":446.3690185546875,"wires":[["d37c88d1.2c8378"]]},{"id":"34c11ce8.cb3ee4","type":"inject","name":"Test the Air Pump 1 Current","topic":"test_this","payload":"Air Pump 1 Current","repeat":"","crontab":"","once":false,"x":136.95588302612305,"y":24.470582962036133,"wires":[["d37c88d1.2c8378"]]},{"id":"a823524.f57dcb","type":"template","name":"Light output","template":"{{topic}}: {{payload}} lux","x":289.2857208251953,"y":675.7500219345093,"wires":[["d37c88d1.2c8378"]]},{"id":"e2bd6e50.1d429","type":"template","name":"Current Output  ","template":"{{topic}}: {{payload}} A","x":300.55556869506836,"y":820.5277872085571,"wires":[["d37c88d1.2c8378"]]},{"id":"ed7c6a49.128398","type":"function","name":"hardware setup","func":"\n// select pins used by add on board\ncontext.global.ledpin = 1;\ncontext.global.valvesetpin = 3;\ncontext.global.valveresetpin = 2;\ncontext.global.relaysetpin = 0;\ncontext.global.relayresetpin = 6;\ncontext.global.lcdbacklightpin = 7;\n\n// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\n// use the default WiringPi pin number scheme...\nwpi.setup();\n\n// set the pin modes\nwpi.pinMode(context.global.lcdbacklightpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valvesetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valveresetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relaysetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relayresetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.ledpin, wpi.modes.PWM_OUTPUT);\nwpi.pwmSetRange(100);\n\n// reset outputs\nwpi.pwmWrite(context.global.ledpin, 0);\nwpi.digitalWrite(context.global.lcdbacklightpin, 0);\nreturn msg;","outputs":1,"x":637.7424774169922,"y":214.74242496490479,"wires":[["c0b295a4.3f4d68"]]},{"id":"e012b6e0.1fed48","type":"function","name":"set level","func":"// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\nvar level = parseInt(msg.payload);\nwpi.pwmWrite(context.global.ledpin, level);\n\nreturn msg;","outputs":1,"x":707.9167499542236,"y":572.3333888053894,"wires":[["e86e0596.1791f8"]]},{"id":"a2bed9ba.5d4128","type":"inject","name":"Reset system","topic":"","payload":"System reset!","repeat":"","crontab":"","once":true,"x":462.4242820739746,"y":176.2424192428589,"wires":[["ed7c6a49.128398"]]},{"id":"1b70c41b.e48f3c","type":"mqtt out","name":"set LED level","topic":"led","broker":"817e85f1.7e8178","x":837.3333129882812,"y":297.4166536331177,"wires":[]},{"id":"94e9fa47.6b1608","type":"inject","name":"10 sec Trigger","topic":"","payload":"","repeat":"4","crontab":"","once":false,"x":100.77778625488281,"y":543.3055419921875,"wires":[["99041b28.66fbe8","2c99572e.d366a8","a5338d3e.5acc7","7c7b844.f83847c"]]},{"id":"5d6761a4.a298a","type":"debug","name":"","active":true,"complete":"false","x":1122.1390380859375,"y":565.000244140625,"wires":[]},{"id":"6fa99d02.905664","type":"mqtt in","name":"receive LED level","topic":"led","broker":"817e85f1.7e8178","x":564.6944942474365,"y":572.3334403038025,"wires":[["e012b6e0.1fed48"]]},{"id":"99041b28.66fbe8","type":"function","name":"LED sequence","func":"var levels = [0, 2, 5, 10, 25, 100];\ncontext.index = context.index || 0;\ncontext.index = context.index + 1;\n\nif (context.index == levels.length) {\n\tcontext.index = 0;\n}\n\nmsg.topic = 'led';\nmsg.payload = levels[context.index];\nreturn msg;","outputs":"1","x":280.03173828125,"y":507.63885498046875,"wires":[["d37c88d1.2c8378"]]},{"id":"e86e0596.1791f8","type":"template","name":"LED output","template":"Setting light level to: {{payload}}%","x":842.0278377532959,"y":572.3334879875183,"wires":[["5d6761a4.a298a"]]},{"id":"63977527.9c688c","type":"inject","name":"Test the LED","topic":"test_this","payload":"led","repeat":"","crontab":"","once":false,"x":90.92857360839844,"y":225.3214111328125,"wires":[["d37c88d1.2c8378"]]},{"id":"94551cd6.6baae","type":"function","name":"Test router","func":"var debugOut = null;\nvar ledOut = null;\nvar valveOut = null;\nvar relayOut = null;\nvar backlightOut = null;\n\nswitch (msg.topic) {\n\tcase \"led\":\n\t\tledOut = msg;\n\t\tbreak;\n\tcase \"valve\":\n\t\tvalveOut = msg;\n\t\tbreak;\n\tcase \"relay\":\n\t\trelayOut = msg;\n\t\tbreak;\n\tcase \"backlight\":\n\t\tbacklightOut = msg;\n\t\tbreak;\n\tdefault:\n\t\tdebugOut = msg;\n}\nreturn [debugOut, ledOut, valveOut, relayOut, backlightOut];","outputs":"5","x":651.3333129882812,"y":315.4166564941406,"wires":[["c0b295a4.3f4d68"],["1b70c41b.e48f3c"],["52044f8.fadfbb"],["d6fc2453.2903d8"],["4fd65b76.b029a4"]]},{"id":"2c99572e.d366a8","type":"function","name":"Valve sequence","func":"context.global.valvestate = \n\tcontext.global.valvestate ? 0 : 1;\n\t\t\nmsg.topic = 'valve';\nmsg.payload = context.global.valvestate;\nreturn msg;\n\n","outputs":"1","x":274.03175354003906,"y":539.5277709960938,"wires":[["d37c88d1.2c8378"]]},{"id":"2319bb63.dce644","type":"inject","name":"Test the Valve","topic":"test_this","payload":"valve","repeat":"","crontab":"","once":false,"x":93.35714721679688,"y":257.892822265625,"wires":[["d37c88d1.2c8378"]]},{"id":"52044f8.fadfbb","type":"mqtt out","name":"set Valve state","topic":"valve","broker":"817e85f1.7e8178","x":839.3333129882812,"y":333.4166536331177,"wires":[]},{"id":"4eb95060.b146b","type":"function","name":"energise Valve","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.valvesetpin, 1);\n} else {\n\twpi.digitalWrite(context.global.valveresetpin, 1);\n}\nreturn msg;","outputs":"1","x":718.4444580078125,"y":651.5556640625,"wires":[["8c200adb.73dff8","fc33e9e9.03cc18"]]},{"id":"cd09ee8d.32f61","type":"mqtt in","name":"receive Valve level","topic":"valve","broker":"817e85f1.7e8178","x":542.1111450195312,"y":649.5556640625,"wires":[["4eb95060.b146b"]]},{"id":"fc33e9e9.03cc18","type":"template","name":"Valve output","template":"{{#payload}}\n  Operating Valve\n{{/payload}}\n{{^payload}}\n  Resetting Valve\n{{/payload}}","x":867.111177444458,"y":611.0002112388611,"wires":[["5d6761a4.a298a"]]},{"id":"8c200adb.73dff8","type":"pause","name":"500 ms pause","timeout":"2","x":871.5555419921875,"y":651.7778930664062,"wires":[["7d2caf3e.82d35"]]},{"id":"7d2caf3e.82d35","type":"function","name":"de-energise","func":"var wpi = context.global.wpi;\n\nwpi.digitalWrite(context.global.valvesetpin, 0);\nwpi.digitalWrite(context.global.valveresetpin, 0);\n\nmsg.payload = \"... and off.\"\nreturn msg;","outputs":"1","x":1013.5555419921875,"y":651.7778930664062,"wires":[[]]},{"id":"d367b848.2c9848","type":"function","name":"set backlight state","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.lcdbacklightpin, 1);\n} else {\n\twpi.digitalWrite(context.global.lcdbacklightpin, 0);\n}\nreturn msg;","outputs":"1","x":735.2222480773926,"y":536.7779574394226,"wires":[["7af613be.8509ec"]]},{"id":"7af613be.8509ec","type":"template","name":"Backlight output","template":"{{#payload}}\n  Backlight on\n{{/payload}}\n{{^payload}}\n  Backlight off\n{{/payload}}","x":901.777853012085,"y":536.7779717445374,"wires":[["5d6761a4.a298a"]]},{"id":"7f9a4462.8065bc","type":"mqtt in","name":"receive backlight state","topic":"backlight","broker":"817e85f1.7e8178","x":551.1111927032471,"y":536.4446043968201,"wires":[["d367b848.2c9848"]]},{"id":"a5338d3e.5acc7","type":"function","name":"backlight sequence","func":"context.global.backlightstate = \n\tcontext.global.backlightstate ? 0 : 1;\n\t\t\nmsg.topic = 'backlight';\nmsg.payload = context.global.backlightstate;\nreturn msg;\n\n","outputs":"1","x":266.1024475097656,"y":599.3055419921875,"wires":[["d37c88d1.2c8378"]]},{"id":"4fd65b76.b029a4","type":"mqtt out","name":"set Backlight level","topic":"backlight","broker":"817e85f1.7e8178","x":850.3333129882812,"y":401.4166564941406,"wires":[]},{"id":"c3dd4ef8.3c22b","type":"inject","name":"Test the Backlight","topic":"test_this","payload":"backlight","repeat":"","crontab":"","once":false,"x":106.8571548461914,"y":320.17852783203125,"wires":[["d37c88d1.2c8378"]]},{"id":"99163444.66e9c8","type":"mqtt in","name":"","topic":"Far Light","broker":"817e85f1.7e8178","x":147.85715866088867,"y":675.4643516540527,"wires":[["a823524.f57dcb"]]},{"id":"8039d9f5.7fc628","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":120.33334732055664,"y":784.8611555099487,"wires":[["e2bd6e50.1d429"]]},{"id":"5afeb906.a50148","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":130.00003051757812,"y":711.1944971084595,"wires":[["465cfcac.b9a304"]]},{"id":"465cfcac.b9a304","type":"template","name":"Temperature Output","template":"{{topic}}: {{payload}} C","x":315.00001525878906,"y":726.6389379501343,"wires":[["d37c88d1.2c8378"]]},{"id":"53c9c2b7.ac363c","type":"inject","name":"Test the Air Temperature","topic":"test_this","payload":"Air Temperature","repeat":"","crontab":"","once":false,"x":128.92858123779297,"y":157.3214111328125,"wires":[["d37c88d1.2c8378"]]},{"id":"f8902f48.076fd","type":"inject","name":"Test the Water Temperature","topic":"test_this","payload":"Water Temperature","repeat":"","crontab":"","once":false,"x":139.42858123779297,"y":191.3214111328125,"wires":[["d37c88d1.2c8378"]]},{"id":"d57b0f98.2a84f","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":119.0000228881836,"y":747.8611602783203,"wires":[["465cfcac.b9a304"]]},{"id":"8b68778b.749788","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":656.9924182891846,"y":252.1515245437622,"wires":[["c0b295a4.3f4d68"]]},{"id":"8da6e655.725918","type":"function","name":"lcd init","func":"var rasp2c = context.global.rasp2c;\nvar err;\nvar result;\n\n// Detect devices on the I2C Bus\nrasp2c.detect(function(err, result) {\n  if (err) {\n    msg = err;\n  } else {\n    msg = result;\n  }\n});\nreturn msg;","outputs":1,"x":637.189380645752,"y":153.15907669067383,"wires":[["c0b295a4.3f4d68"]]},{"id":"67544761.98abb8","type":"inject","name":"Test","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":492.75761795043945,"y":118.63634872436523,"wires":[["8da6e655.725918"]]},{"id":"9d576f79.62a89","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":114.88890075683594,"y":855.5278100967407,"wires":[["e2bd6e50.1d429"]]},{"id":"526d8de.fad9274","type":"inject","name":"Test the Water Pump Current","topic":"test_this","payload":"Water Pump Current","repeat":"","crontab":"","once":false,"x":141.8382511138916,"y":91.88235092163086,"wires":[["d37c88d1.2c8378"]]},{"id":"7f29dfcc.80d62","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":120.66667556762695,"y":821.1944761276245,"wires":[["e2bd6e50.1d429"]]},{"id":"a859e0b3.57a62","type":"inject","name":"Test the Air Pump 2 Current","topic":"test_this","payload":"Air Pump 2 Current","repeat":"","crontab":"","once":false,"x":136.9558868408203,"y":58.05881881713867,"wires":[["d37c88d1.2c8378"]]},{"id":"953d02eb.6ac3","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":93,"y":945,"wires":[["d1d76df7.2e289"]]},{"id":"d1d76df7.2e289","type":"template","name":"Digital Water Level Output","template":"{{topic}}: {{payload}}","x":325,"y":946,"wires":[["d37c88d1.2c8378"]]},{"id":"578d3843.a872c8","type":"inject","name":"Test the Digital Water Level","topic":"test_this","payload":"Digital Water Level","repeat":"","crontab":"","once":false,"x":138,"y":352,"wires":[["d37c88d1.2c8378"]]},{"id":"d6fc2453.2903d8","type":"mqtt out","name":"set Relay state","topic":"relay","broker":"817e85f1.7e8178","x":840,"y":368,"wires":[]},{"id":"241e8cb8.dbe174","type":"inject","name":"Test the Relay","topic":"test_this","payload":"relay","repeat":"","crontab":"","once":false,"x":95,"y":291,"wires":[["d37c88d1.2c8378"]]},{"id":"7c7b844.f83847c","type":"function","name":"Relay sequence","func":"context.global.relaystate = \n\tcontext.global.relaystate ? 0 : 1;\n\t\t\nmsg.topic = 'relay';\nmsg.payload = context.global.relaystate;\nreturn msg;\n\n","outputs":"1","x":276,"y":567,"wires":[["d37c88d1.2c8378"]]},{"id":"e61a2345.19e5e","type":"mqtt in","name":"receive Relay level","topic":"relay","broker":"817e85f1.7e8178","x":552,"y":727,"wires":[["19446f3f.e6bb91"]]},{"id":"19446f3f.e6bb91","type":"function","name":"energise relay","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.relaysetpin, 1);\n} else {\n\twpi.digitalWrite(context.global.relayresetpin, 1);\n}\nreturn msg;","outputs":"1","x":720.333345413208,"y":726.9999866485596,"wires":[["202d24bc.dfd2dc","381f3922.c7e0c6"]]},{"id":"202d24bc.dfd2dc","type":"pause","name":"10 ms pause","timeout":"0.01","x":872.4443969726562,"y":726.22216796875,"wires":[["cb2033f7.34dfd"]]},{"id":"cb2033f7.34dfd","type":"function","name":"de-energise relay","func":"var wpi = context.global.wpi;\n\nwpi.digitalWrite(context.global.relaysetpin, 0);\nwpi.digitalWrite(context.global.relayresetpin, 0);\n\nmsg.payload = \"... and off.\"\nreturn msg;","outputs":"1","x":1029.4443969726562,"y":727.22216796875,"wires":[[]]},{"id":"381f3922.c7e0c6","type":"template","name":"Relay output","template":"{{#payload}}\n  Operating Relay\n{{/payload}}\n{{^payload}}\n  Reseting Relay\n{{/payload}}","x":858,"y":690,"wires":[["5d6761a4.a298a"]]},{"id":"a4f776.ff5b0888","type":"inject","name":"Test the Analogue Water Level","topic":"test_this","payload":"Analogue Water Level","repeat":"","crontab":"","once":false,"x":149.00000190734863,"y":385.00000190734863,"wires":[["d37c88d1.2c8378"]]},{"id":"ab23e7c5.54dc18","type":"template","name":"Analogue Water Level Output","template":"{{topic}}: {{payload}} cm","x":346,"y":1000,"wires":[["d37c88d1.2c8378"]]},{"id":"2794c5f1.d86b3a","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":103,"y":1000,"wires":[["ab23e7c5.54dc18"]]},{"id":"a64810c5.59b7f","type":"twitter out","twitter":"ba926a1f.456d98","name":"Tweet","x":1132,"y":610,"wires":[]}]