lib/flows/Hardware.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"84575301.7ba8b","type":"function","name":"de-energise relay","func":"var wpi = context.global.wpi;\n\nwpi.digitalWrite(context.global.relaysetpin, 0);\nwpi.digitalWrite(context.global.relayresetpin, 0);\n\nmsg.payload = \"... and off.\"\nreturn msg;","outputs":"1","x":674,"y":142,"z":"23879283.dc786e","wires":[[]]},{"id":"2b0fa5cf.d4f05a","type":"delay","name":"10 ms delay","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":517.7778625488281,"y":142.5557861328125,"z":"23879283.dc786e","wires":[["84575301.7ba8b"]]},{"id":"455dc4d4.baa23c","type":"function","name":"energise relay","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.relaysetpin, 1);\n} else {\n\twpi.digitalWrite(context.global.relayresetpin, 1);\n}\nreturn msg;","outputs":"1","x":370.8889465332031,"y":107.77781677246094,"z":"23879283.dc786e","wires":[["62567462.9da98c","2b0fa5cf.d4f05a"]]},{"id":"62567462.9da98c","type":"template","name":"Relay output","template":"{{#payload}}\n  Operating Relay\n{{/payload}}\n{{^payload}}\n  Reseting Relay\n{{/payload}}","x":519.5556030273438,"y":106.77782440185547,"z":"23879283.dc786e","wires":[["20df8592.df207a"]]},{"id":"7306671f.8cf998","type":"mqtt in","name":"receive Relay instruction","topic":"relay","broker":"817e85f1.7e8178","x":172.55560302734375,"y":107.77783203125,"z":"23879283.dc786e","wires":[["455dc4d4.baa23c"]]},{"id":"20df8592.df207a","type":"debug","name":"","active":true,"complete":"false","x":661.6946411132812,"y":70.77806854248047,"z":"23879283.dc786e","wires":[]},{"id":"ccf74728.3308b8","type":"template","name":"LED output","template":"Setting light level to: {{payload}}%","x":518.5834350585938,"y":36.11131286621094,"z":"23879283.dc786e","wires":[["20df8592.df207a"]]},{"id":"2c63bac1.d39c46","type":"template","name":"Solenoids output","template":"Solenoids set to {{payload}}","x":518.6667785644531,"y":71.77803039550781,"z":"23879283.dc786e","wires":[["20df8592.df207a"]]},{"id":"6228514c.9dd7b","type":"function","name":"set level","func":"// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\nvar level = parseInt(msg.payload);\nwpi.pwmWrite(context.global.ledpin, level);\n\nreturn msg;","outputs":1,"x":372.47235107421875,"y":36.11121368408203,"z":"23879283.dc786e","wires":[["ccf74728.3308b8"]]},{"id":"2d8ee59f.d2711a","type":"function","name":"set Solenoids","func":"var wpi = context.global.wpi;\nswitch (msg.payload) {\n\tcase \"block air\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak; \n\tcase \"allow air in\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 1);\n\t\tbreak;\n\tcase \"allow air out\":\n\t\twpi.digitalWrite(context.global.valve1pin, 1);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = null;\n}\nreturn msg;","outputs":"1","x":339.00006103515625,"y":72.33349609375,"z":"23879283.dc786e","wires":[["2c63bac1.d39c46"]]},{"id":"1f94f02d.e06b1","type":"mqtt in","name":"receive LED level","topic":"led","broker":"817e85f1.7e8178","x":206.25009536743164,"y":37.11126518249512,"z":"23879283.dc786e","wires":[["6228514c.9dd7b"]]},{"id":"39a453fc.c65bac","type":"mqtt in","name":"receive Solenoids instruction","topic":"solenoids","broker":"817e85f1.7e8178","x":126.666748046875,"y":70.33348846435547,"z":"23879283.dc786e","wires":[["2d8ee59f.d2711a"]]},{"id":"5bf1b9d8.a40e48","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":396,"y":235,"z":"23879283.dc786e","wires":[["7d6528f8.829ad8"]]},{"id":"7d6528f8.829ad8","type":"debug","name":"System Messages","active":false,"complete":"false","x":553.4191436767578,"y":198.05050659179688,"z":"23879283.dc786e","wires":[]},{"id":"d128f68d.2ed708","type":"function","name":"system setup","func":"\n// select pins used by add on board\ncontext.global.ledpin = 1;\ncontext.global.valve1pin = 3;\ncontext.global.valve2pin = 2;\ncontext.global.relaysetpin = 0;\ncontext.global.relayresetpin = 6;\ncontext.global.lcdbacklightpin = 7;\n\n// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\n// use the default WiringPi pin number scheme...\nwpi.setup();\n\n// set the pin modes\nwpi.pinMode(context.global.lcdbacklightpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve1pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve2pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relaysetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relayresetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.ledpin, wpi.modes.PWM_OUTPUT);\nwpi.pwmSetRange(100);\n\n// reset outputs\nwpi.pwmWrite(context.global.ledpin, 0);\nwpi.digitalWrite(context.global.valve1pin, 0);\nwpi.digitalWrite(context.global.valve2pin, 0);\n\n// exit loop\ncontext.global.loop = \"off\";\n\n// clear alert\ncontext.global.alertSent = false;\n\nreturn msg;","outputs":1,"x":375.2500457763672,"y":198.59088134765625,"z":"23879283.dc786e","wires":[["7d6528f8.829ad8"]]},{"id":"f6d3b340.092c5","type":"inject","name":"Reset system","topic":"","payload":"System reset!","repeat":"","crontab":"","once":true,"x":216.93185424804688,"y":198.09088134765625,"z":"23879283.dc786e","wires":[["d128f68d.2ed708"]]},{"id":"e462fe1c.1b9d","type":"function","name":"Log last arduino alive time","func":"if (msg.payload == 'alive') {\n\tcontext.global.lastAlive = new Date().getTime();\n}","outputs":1,"x":398,"y":321,"z":"23879283.dc786e","wires":[[]]},{"id":"f9eafe78.0615","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":189,"y":321,"z":"23879283.dc786e","wires":[["e462fe1c.1b9d"]]},{"id":"17592e90.e8a6d1","type":"inject","name":"Watchdog","topic":"","payload":"","repeat":"10","crontab":"","once":false,"x":198,"y":379,"z":"23879283.dc786e","wires":[["2cce3c4d.d331c4"]]},{"id":"2cce3c4d.d331c4","type":"function","name":"Check arduino alive","func":"if (context.global.alertSent == false\n\t&& context.global.lastAlive\n     \t< new Date().getTime() - 10000) {\n\tmsg.payload = 'The arduino is dead!';\n\tcontext.global.alertSent = true;\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":367,"y":379,"z":"23879283.dc786e","wires":[["fee06e0d.011f9","9aef351e.6510c8"]]},{"id":"fee06e0d.011f9","type":"twitter out","twitter":"","name":"Tweet","x":549,"y":378,"z":"23879283.dc786e","wires":[]},{"id":"9aef351e.6510c8","type":"debug","name":"","active":true,"complete":false,"x":525,"y":431,"z":"23879283.dc786e","wires":[]}]