lib/flows/Hardware.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"21a6d12e.de592e","type":"mqtt in","name":"receive Solenoids instruction","topic":"solenoids","broker":"817e85f1.7e8178","x":119,"y":82,"z":"c06fbd88.3f904","wires":[["a01cffe7.5fe3"]]},{"id":"a01cffe7.5fe3","type":"function","name":"set Solenoids","func":"var wpi = context.global.wpi;\nswitch (msg.payload) {\n\tcase \"block air\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak; \n\tcase \"allow air in\":\n\t\twpi.digitalWrite(context.global.valve1pin, 0);\n\t\twpi.digitalWrite(context.global.valve2pin, 1);\n\t\tbreak;\n\tcase \"allow air out\":\n\t\twpi.digitalWrite(context.global.valve1pin, 1);\n\t\twpi.digitalWrite(context.global.valve2pin, 0);\n\t\tbreak;\n\tdefault:\n\t\tmsg.payload = null;\n}\nreturn msg;","outputs":"1","x":331.33331298828125,"y":84.00000762939453,"z":"c06fbd88.3f904","wires":[["c275b7a4.3d8a48"]]},{"id":"c275b7a4.3d8a48","type":"template","name":"Solenoids output","template":"Solenoids set to {{payload}}","x":511.0000305175781,"y":83.44454193115234,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"5872be84.a78d4","type":"debug","name":"","active":true,"complete":"false","x":654.0278930664062,"y":82.444580078125,"z":"c06fbd88.3f904","wires":[]},{"id":"76d02fd6.892fd","type":"template","name":"LED output","template":"Setting light level to: {{payload}}%","x":510.91668701171875,"y":47.77782440185547,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"69ca620a.96359c","type":"template","name":"Relay output","template":"{{#payload}}\n  Operating Relay\n{{/payload}}\n{{^payload}}\n  Reseting Relay\n{{/payload}}","x":511.88885498046875,"y":118.4443359375,"z":"c06fbd88.3f904","wires":[["5872be84.a78d4"]]},{"id":"5c125530.a3edac","type":"function","name":"set level","func":"// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\nvar level = parseInt(msg.payload);\nwpi.pwmWrite(context.global.ledpin, level);\n\nreturn msg;","outputs":1,"x":364.80560302734375,"y":47.77772521972656,"z":"c06fbd88.3f904","wires":[["76d02fd6.892fd"]]},{"id":"2f9267fe.d06d98","type":"function","name":"energise relay","func":"msg.payload = parseInt(msg.payload);\nvar wpi = context.global.wpi;\nif (msg.payload == 1) {\n\twpi.digitalWrite(context.global.relaysetpin, 1);\n} else {\n\twpi.digitalWrite(context.global.relayresetpin, 1);\n}\nreturn msg;","outputs":"1","x":363.2221984863281,"y":119.44432830810547,"z":"c06fbd88.3f904","wires":[["69ca620a.96359c","98a6eb67.675918"]]},{"id":"92539321.6dac7","type":"mqtt in","name":"receive LED level","topic":"led","broker":"817e85f1.7e8178","x":198.58334732055664,"y":48.77777671813965,"z":"c06fbd88.3f904","wires":[["5c125530.a3edac"]]},{"id":"98a6eb67.675918","type":"delay","name":"10 ms delay","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":510.1111145019531,"y":154.22229766845703,"z":"c06fbd88.3f904","wires":[["726fa07b.8d906"]]},{"id":"d7420809.28bdf8","type":"mqtt in","name":"receive Relay instruction","topic":"relay","broker":"817e85f1.7e8178","x":164.88885498046875,"y":119.44434356689453,"z":"c06fbd88.3f904","wires":[["2f9267fe.d06d98"]]},{"id":"726fa07b.8d906","type":"function","name":"de-energise relay","func":"var wpi = context.global.wpi;\n\nwpi.digitalWrite(context.global.relaysetpin, 0);\nwpi.digitalWrite(context.global.relayresetpin, 0);\n\nmsg.payload = \"... and off.\"\nreturn msg;","outputs":"1","x":666.333251953125,"y":153.66651153564453,"z":"c06fbd88.3f904","wires":[[]]},{"id":"5844948f.a7bb6c","type":"inject","name":"Auto Reboot Arduino every 4 hours","topic":"","payload":"","repeat":"","crontab":"0 */4 * * *","once":false,"x":178,"y":249,"z":"c06fbd88.3f904","wires":[["ea93f72c.156c08"]]},{"id":"ea93f72c.156c08","type":"exec","command":"cd /home/pi/AquaSensors/ && ino upload &&","append":"","useSpawn":"","name":"Reset Arduino","x":431,"y":247,"z":"c06fbd88.3f904","wires":[["786ebecc.87914"],[],["786ebecc.87914"]]},{"id":"dba1eca5.245e1","type":"inject","name":"Reset system","topic":"system","payload":"System reset!","repeat":"","crontab":"","once":true,"x":271.2395935058594,"y":196.47552490234375,"z":"c06fbd88.3f904","wires":[["b5db7ef5.4a248","ea93f72c.156c08"]]},{"id":"786ebecc.87914","type":"debug","name":"","active":true,"complete":false,"x":620.3077392578125,"y":269.3846435546875,"z":"c06fbd88.3f904","wires":[]},{"id":"b5db7ef5.4a248","type":"function","name":"system setup","func":"\n// select pins used by add on board\ncontext.global.ledpin = 1;\ncontext.global.valve1pin = 3;\ncontext.global.valve2pin = 2;\ncontext.global.relaysetpin = 0;\ncontext.global.relayresetpin = 6;\ncontext.global.lcdbacklightpin = 7;\n\n// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\n// use the default WiringPi pin number scheme...\nwpi.setup();\n\n// set the pin modes\nwpi.pinMode(context.global.lcdbacklightpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve1pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.valve2pin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relaysetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.relayresetpin, wpi.modes.OUTPUT);\nwpi.pinMode(context.global.ledpin, wpi.modes.PWM_OUTPUT);\nwpi.pwmSetRange(100);\n\n// reset outputs\nwpi.pwmWrite(context.global.ledpin, 0);\nwpi.digitalWrite(context.global.valve1pin, 0);\nwpi.digitalWrite(context.global.valve2pin, 0);\n\n// clear alert\ncontext.global.alertSent = false;\n\n// set to manual mode\ncontext.global.mode = 'manual';\n\nreturn msg;","outputs":1,"x":429.5577850341797,"y":196.97552490234375,"z":"c06fbd88.3f904","wires":[["c6cb7b0d.393488"]]},{"id":"8246aa03.7db958","type":"function","name":"Check arduino alive","func":"if (context.global.alertSent == false\n\t&& context.global.lastAlive\n     \t< new Date().getTime() - 10000) {\n\tmsg.payload = 'The arduino is dead!';\n\tcontext.global.alertSent = true;\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":437.3077392578125,"y":318.3846435546875,"z":"c06fbd88.3f904","wires":[["786ebecc.87914","e6bbe83c.194418","ed84e3a.f127b2"]]},{"id":"c6cb7b0d.393488","type":"mqtt out","name":"","topic":"system","broker":"817e85f1.7e8178","x":585,"y":197,"z":"c06fbd88.3f904","wires":[]},{"id":"e6bbe83c.194418","type":"mqtt out","name":"","topic":"alert","broker":"817e85f1.7e8178","x":618,"y":364,"z":"c06fbd88.3f904","wires":[]},{"id":"ed84e3a.f127b2","type":"twitter out","twitter":"","name":"Tweet","x":619.3077392578125,"y":317.3846435546875,"z":"c06fbd88.3f904","wires":[]},{"id":"bc8214b1.437de8","type":"inject","name":"Watchdog","topic":"","payload":"","repeat":"10","crontab":"","once":false,"x":268.3077392578125,"y":318.3846435546875,"z":"c06fbd88.3f904","wires":[["8246aa03.7db958"]]},{"id":"4498cb03.bb6734","type":"mqtt in","name":"","topic":"system","broker":"817e85f1.7e8178","x":254,"y":421,"z":"c06fbd88.3f904","wires":[["290641ee.d6f9be"]]},{"id":"290641ee.d6f9be","type":"function","name":"Log last arduino alive time","func":"if (msg.payload == 'alive') {\n\tcontext.global.lastAlive = new Date().getTime();\n}","outputs":1,"x":463,"y":421,"z":"c06fbd88.3f904","wires":[[]]}]