lib/flows/Test Controls.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"b6028f30.49fd7","type":"inject","name":"Test the Water Temperature","topic":"test_this","payload":"Water Temperature","repeat":"","crontab":"","once":false,"x":149,"y":204.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"ef22711d.10dd9","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":428.9047565460205,"y":410.15868854522705,"z":"621ad2ed.9de52c","wires":[["92dc1534.6d23e8"]]},{"id":"11927d76.ee6d83","type":"inject","name":"Test the Air Pump 1 Current","topic":"test_this","payload":"Air Pump 1 Current","repeat":"","crontab":"","once":false,"x":146.52730178833008,"y":37.212660789489746,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"92dc1534.6d23e8","type":"function","name":"Test router","func":"var debugOut = null;\nvar ledOut = null;\nvar relayOut = null;\n\nswitch (msg.topic) {\n\tcase \"led\":\n\t\tledOut = msg;\n\t\tbreak;\n\tcase \"relay\":\n\t\trelayOut = msg;\n\t\tbreak;\n\tdefault:\n\t\tdebugOut = msg;\n}\nreturn [debugOut, ledOut, relayOut]","outputs":"3","x":554.2380714416504,"y":409.82538175582886,"z":"621ad2ed.9de52c","wires":[["c15c1665.3ea3e8"],["f4631f9.f0b9ce"],["934f9bc3.6cb068"]]},{"id":"1c69dd34.e39623","type":"inject","name":"Test the LED","topic":"test_this","payload":"led","repeat":"","crontab":"","once":false,"x":99.49999237060547,"y":349.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"f9e52a64.061ad8","type":"inject","name":"Test the Light Level","topic":"test_this","payload":"Far Light","repeat":"","crontab":"","once":false,"x":122.5,"y":138.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"fdc7bbb1.023848","type":"inject","name":"STOP TESTING","topic":"test_this","payload":"0","repeat":"","crontab":"","once":false,"x":112.69049072265625,"y":430.3610963821411,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"a98bcfd1.56743","type":"function","name":"LED sequence","func":"var levels = [0, 2, 5, 10, 25, 100];\ncontext.index = context.index || 0;\ncontext.index = context.index + 1;\n\nif (context.index == levels.length) {\n\tcontext.index = 0;\n}\n\nmsg.topic = 'led';\nmsg.payload = levels[context.index];\nreturn msg;","outputs":"1","x":278.60316467285156,"y":464.38093280792236,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"4a0cb69a.b5f348","type":"inject","name":"Test the Air Temperature","topic":"test_this","payload":"Air Temperature","repeat":"","crontab":"","once":false,"x":138.5,"y":170.0634889602661,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"3ffcce16.c00332","type":"inject","name":"Test the Water Pump Current","topic":"test_this","payload":"Water Pump Current","repeat":"","crontab":"","once":false,"x":151.40966987609863,"y":104.62442874908447,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"72d729ed.8d28d8","type":"inject","name":"Test the Air Pump 2 Current","topic":"test_this","payload":"Air Pump 2 Current","repeat":"","crontab":"","once":false,"x":146.52730560302734,"y":70.80089664459229,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"d29fee41.2d601","type":"inject","name":"Test the Digital Water Level","topic":"test_this","payload":"Digital Water Level","repeat":"","crontab":"","once":false,"x":145.57141876220703,"y":236.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"94d56884.6b2a98","type":"inject","name":"Test the Relay","topic":"test_this","payload":"relay","repeat":"","crontab":"","once":false,"x":101.57141876220703,"y":381.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"313b83b.fcec47c","type":"function","name":"Relay sequence","func":"context.global.relaystate = \n\tcontext.global.relaystate ? 0 : 1;\n\t\t\nmsg.topic = 'relay';\nmsg.payload = context.global.relaystate;\nreturn msg;\n\n","outputs":"1","x":280.5714340209961,"y":500.74210834503174,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"2da1435c.d25ebc","type":"inject","name":"Test the Analogue Water Level","topic":"test_this","payload":"Analogue Water Level","repeat":"","crontab":"","once":false,"x":155.57142639160156,"y":271.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"aa7ec8a9.558138","type":"inject","name":"Test the pH","topic":"test_this","payload":"pH","repeat":"","crontab":"","once":false,"x":93.57141876220703,"y":300.7420778274536,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"42550350.bdaafc","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":608.539680480957,"y":30,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"15ff0d01.ea00f3","type":"template","name":"Amps Output","template":"{{topic}}: {{payload}} A","x":623.9365291595459,"y":160.33329677581787,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"274a2f7c.d8b5d","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} C","x":630.2380981445312,"y":80.22225666046143,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"5d56654c.a2a99c","type":"template","name":"Unitless Output","template":"{{topic}}: {{payload}}","x":629.7936782836914,"y":243.98010444641113,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"1a91cb0f.e56e35","type":"template","name":"Centimeter Output","template":"{{topic}}: {{payload}} cm","x":638.8253784179688,"y":295.51972675323486,"z":"621ad2ed.9de52c","wires":[["ef22711d.10dd9"]]},{"id":"c15c1665.3ea3e8","type":"debug","name":"Test Data","active":true,"complete":"false","x":716.6547966003418,"y":350.90874004364014,"z":"621ad2ed.9de52c","wires":[]},{"id":"f4631f9.f0b9ce","type":"mqtt out","name":"set LED level","topic":"led","broker":"817e85f1.7e8178","x":740.2380714416504,"y":391.8253788948059,"z":"621ad2ed.9de52c","wires":[]},{"id":"934f9bc3.6cb068","type":"mqtt out","name":"set Relay state","topic":"relay","broker":"817e85f1.7e8178","x":736.90478515625,"y":439.40873432159424,"z":"621ad2ed.9de52c","wires":[]},{"id":"9d965345.6269b","type":"inject","name":"1 sec Trigger","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":107.34921264648438,"y":491.0476198196411,"z":"621ad2ed.9de52c","wires":[["a98bcfd1.56743","313b83b.fcec47c"]]},{"id":"e712f345.18ed1","type":"mqtt in","name":"","topic":"Far Light","broker":"817e85f1.7e8178","x":483.42061614990234,"y":30.825385093688965,"z":"621ad2ed.9de52c","wires":[["42550350.bdaafc"]]},{"id":"337b622c.cc849e","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":457.86506843566895,"y":129.11107444763184,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"afad20f7.5052e","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":455.6428470611572,"y":194.22218704223633,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"aed674e4.512988","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":457.8650703430176,"y":162.11108207702637,"z":"621ad2ed.9de52c","wires":[["15ff0d01.ea00f3"]]},{"id":"df000c51.20fff","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":465.6428451538086,"y":64.3333683013916,"z":"621ad2ed.9de52c","wires":[["274a2f7c.d8b5d"]]},{"id":"a8619f29.579e6","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":455.6428470611572,"y":96.55556583404541,"z":"621ad2ed.9de52c","wires":[["274a2f7c.d8b5d"]]},{"id":"781d26f8.87e2d8","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":463.5793647766113,"y":262.2657222747803,"z":"621ad2ed.9de52c","wires":[["5d56654c.a2a99c"]]},{"id":"b8a5f166.475a1","type":"mqtt in","name":"","topic":"pH","broker":"817e85f1.7e8178","x":490.722225189209,"y":227.26571464538574,"z":"621ad2ed.9de52c","wires":[["5d56654c.a2a99c"]]},{"id":"1c91ceb.fe36e31","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":456.4365062713623,"y":295.8372039794922,"z":"621ad2ed.9de52c","wires":[["1a91cb0f.e56e35"]]},{"id":"b803b8ba.47fc48","type":"inject","name":"Allow air in","topic":"","payload":"allow air in","repeat":"","crontab":"","once":false,"x":97,"y":591,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"42b5eff6.bd4a1","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":394,"y":584,"z":"621ad2ed.9de52c","wires":[]},{"id":"73112be5.8ceed4","type":"inject","name":"Block air","topic":"","payload":"block air","repeat":"","crontab":"","once":false,"x":103,"y":557,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]},{"id":"dbaa9849.245568","type":"inject","name":"Allow air out","topic":"","payload":"allow air out","repeat":"","crontab":"","once":false,"x":108,"y":625,"z":"621ad2ed.9de52c","wires":[["42b5eff6.bd4a1"]]}]