lib/flows/test controls.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"5070b48b.af8f4c","type":"inject","name":"Test the Light Level","topic":"test_this","payload":"Far Light","repeat":"","crontab":"","once":false,"x":112.9285888671875,"y":129.48812866210938,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"d37c88d1.2c8378","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":419.333345413208,"y":401.5833282470703,"z":"258ec20a.da713e","wires":[["94551cd6.6baae"]]},{"id":"5f80af77.a07f5","type":"inject","name":"STOP TESTING","topic":"test_this","payload":"0","repeat":"","crontab":"","once":false,"x":103.11907958984375,"y":421.7857360839844,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"34c11ce8.cb3ee4","type":"inject","name":"Test the Air Pump 1 Current","topic":"test_this","payload":"Air Pump 1 Current","repeat":"","crontab":"","once":false,"x":136.95589065551758,"y":28.637300491333008,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"1b70c41b.e48f3c","type":"mqtt out","name":"set LED level","topic":"led","broker":"817e85f1.7e8178","x":730.6666603088379,"y":383.25001859664917,"z":"258ec20a.da713e","wires":[]},{"id":"94e9fa47.6b1608","type":"inject","name":"1 sec Trigger","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":97.77780151367188,"y":482.4722595214844,"z":"258ec20a.da713e","wires":[["99041b28.66fbe8","7c7b844.f83847c"]]},{"id":"99041b28.66fbe8","type":"function","name":"LED sequence","func":"var levels = [0, 2, 5, 10, 25, 100];\ncontext.index = context.index || 0;\ncontext.index = context.index + 1;\n\nif (context.index == levels.length) {\n\tcontext.index = 0;\n}\n\nmsg.topic = 'led';\nmsg.payload = levels[context.index];\nreturn msg;","outputs":"1","x":269.03175354003906,"y":455.8055725097656,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"63977527.9c688c","type":"inject","name":"Test the LED","topic":"test_this","payload":"led","repeat":"","crontab":"","once":false,"x":89.92858123779297,"y":340.4881286621094,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"94551cd6.6baae","type":"function","name":"Test router","func":"var debugOut = null;\nvar ledOut = null;\nvar relayOut = null;\n\nswitch (msg.topic) {\n\tcase \"led\":\n\t\tledOut = msg;\n\t\tbreak;\n\tcase \"relay\":\n\t\trelayOut = msg;\n\t\tbreak;\n\tdefault:\n\t\tdebugOut = msg;\n}\nreturn [debugOut, ledOut, relayOut]","outputs":"3","x":544.6666603088379,"y":401.2500214576721,"z":"258ec20a.da713e","wires":[["9ecaedc2.61351"],["1b70c41b.e48f3c"],["d6fc2453.2903d8"]]},{"id":"53c9c2b7.ac363c","type":"inject","name":"Test the Air Temperature","topic":"test_this","payload":"Air Temperature","repeat":"","crontab":"","once":false,"x":128.9285888671875,"y":161.48812866210938,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"f8902f48.076fd","type":"inject","name":"Test the Water Temperature","topic":"test_this","payload":"Water Temperature","repeat":"","crontab":"","once":false,"x":139.4285888671875,"y":195.48812866210938,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"526d8de.fad9274","type":"inject","name":"Test the Water Pump Current","topic":"test_this","payload":"Water Pump Current","repeat":"","crontab":"","once":false,"x":141.83825874328613,"y":96.04906845092773,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"a859e0b3.57a62","type":"inject","name":"Test the Air Pump 2 Current","topic":"test_this","payload":"Air Pump 2 Current","repeat":"","crontab":"","once":false,"x":136.95589447021484,"y":62.22553634643555,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"578d3843.a872c8","type":"inject","name":"Test the Digital Water Level","topic":"test_this","payload":"Digital Water Level","repeat":"","crontab":"","once":false,"x":136.00000762939453,"y":228.16671752929688,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"d6fc2453.2903d8","type":"mqtt out","name":"set Relay state","topic":"relay","broker":"817e85f1.7e8178","x":727.3333740234375,"y":430.8333740234375,"z":"258ec20a.da713e","wires":[]},{"id":"241e8cb8.dbe174","type":"inject","name":"Test the Relay","topic":"test_this","payload":"relay","repeat":"","crontab":"","once":false,"x":92.00000762939453,"y":373.1667175292969,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"7c7b844.f83847c","type":"function","name":"Relay sequence","func":"context.global.relaystate = \n\tcontext.global.relaystate ? 0 : 1;\n\t\t\nmsg.topic = 'relay';\nmsg.payload = context.global.relaystate;\nreturn msg;\n\n","outputs":"1","x":271.0000228881836,"y":492.166748046875,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"a4f776.ff5b0888","type":"inject","name":"Test the Analogue Water Level","topic":"test_this","payload":"Analogue Water Level","repeat":"","crontab":"","once":false,"x":146.00001525878906,"y":263.1667175292969,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"9ecaedc2.61351","type":"debug","name":"Test Data","active":true,"complete":"false","x":707.0833854675293,"y":342.3333797454834,"z":"258ec20a.da713e","wires":[]},{"id":"84cf7877.7b3088","type":"inject","name":"Test the pH","topic":"test_this","payload":"pH","repeat":"","crontab":"","once":false,"x":84.00000762939453,"y":292.1667175292969,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"a823524.f57dcb","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":598.9682693481445,"y":21.42463970184326,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"e2bd6e50.1d429","type":"template","name":"Amps Output","template":"{{topic}}: {{payload}} A","x":614.3651180267334,"y":151.75793647766113,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"99163444.66e9c8","type":"mqtt in","name":"","topic":"Far Light","broker":"817e85f1.7e8178","x":473.84920501708984,"y":22.250024795532227,"z":"258ec20a.da713e","wires":[["a823524.f57dcb"]]},{"id":"8039d9f5.7fc628","type":"mqtt in","name":"","topic":"Air Pump 1 Current","broker":"817e85f1.7e8178","x":448.29365730285645,"y":120.5357141494751,"z":"258ec20a.da713e","wires":[["e2bd6e50.1d429"]]},{"id":"5afeb906.a50148","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":456.0714340209961,"y":55.75800800323486,"z":"258ec20a.da713e","wires":[["465cfcac.b9a304"]]},{"id":"465cfcac.b9a304","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} C","x":620.6666870117188,"y":71.64689636230469,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"d57b0f98.2a84f","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":446.0714359283447,"y":87.98020553588867,"z":"258ec20a.da713e","wires":[["465cfcac.b9a304"]]},{"id":"9d576f79.62a89","type":"mqtt in","name":"","topic":"Water Pump Current","broker":"817e85f1.7e8178","x":446.0714359283447,"y":185.6468267440796,"z":"258ec20a.da713e","wires":[["e2bd6e50.1d429"]]},{"id":"7f29dfcc.80d62","type":"mqtt in","name":"","topic":"Air Pump 2 Current","broker":"817e85f1.7e8178","x":448.2936592102051,"y":153.53572177886963,"z":"258ec20a.da713e","wires":[["e2bd6e50.1d429"]]},{"id":"953d02eb.6ac3","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":454.0079536437988,"y":253.69036197662354,"z":"258ec20a.da713e","wires":[["d1d76df7.2e289"]]},{"id":"d1d76df7.2e289","type":"template","name":"Unitless Output","template":"{{topic}}: {{payload}}","x":620.2222671508789,"y":235.4047441482544,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"ab23e7c5.54dc18","type":"template","name":"Centimeter Output","template":"{{topic}}: {{payload}} cm","x":629.2539672851562,"y":286.9443664550781,"z":"258ec20a.da713e","wires":[["d37c88d1.2c8378"]]},{"id":"2794c5f1.d86b3a","type":"mqtt in","name":"","topic":"Analogue Water Level","broker":"817e85f1.7e8178","x":446.8650951385498,"y":287.26184368133545,"z":"258ec20a.da713e","wires":[["ab23e7c5.54dc18"]]},{"id":"6da24832.925db8","type":"mqtt in","name":"","topic":"pH","broker":"817e85f1.7e8178","x":481.1508140563965,"y":218.690354347229,"z":"258ec20a.da713e","wires":[["d1d76df7.2e289"]]},{"id":"370ff365.c8f00c","type":"inject","name":"Block air","topic":"","payload":"block air","repeat":"","crontab":"","once":false,"x":108,"y":544,"z":"258ec20a.da713e","wires":[["f102256a.0efdd8"]]},{"id":"f102256a.0efdd8","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":399,"y":571,"z":"258ec20a.da713e","wires":[]},{"id":"b6ef992.f491068","type":"inject","name":"Allow air in","topic":"","payload":"allow air in","repeat":"","crontab":"","once":false,"x":102,"y":578,"z":"258ec20a.da713e","wires":[["f102256a.0efdd8"]]},{"id":"200fda31.dff026","type":"inject","name":"Allow air out","topic":"","payload":"allow air out","repeat":"","crontab":"","once":false,"x":113,"y":612,"z":"258ec20a.da713e","wires":[["f102256a.0efdd8"]]}]