lib/flows/Valve.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"15aa03f7.ea55fc","type":"function","name":"Valve","func":"//outputs (exclusive)\nvar fill = null;\nvar hold = null;\nvar topup = null;\nvar empty = null;\n\n// initialise valve to idle if none exists\nvar initialValve = {state: 'idle'};\nvar valve = context.valve || initialValve;\n\n// interrupts\n// always empty when asked to\nif (msg.payload == 'empty') {\n    // unless already in process of emptying\n    if (valve.state == 'emptying') {\n          return null;\n        } else {\n            valve.state = \"readytoempty\";\n        }\n} else if (msg.payload == 'fill') {\n// but don't start a fill unless idle\n        if (valve.state != 'idle') {\n                return null;\n        } else {\n                valve.state = 'readytofill';\n        }\n}\n\nvar stately = context.global.stately;\nvar machine = stately.define({\n    readytofill: function (valve) {\n                fill = msg;\n                valve.state = 'filling';\n    },\n    filling: function (valve) {\n                hold = msg;\n                valve.state = 'holding';\n    },\n    holding: function (valve) {\n                topup = msg;\n                valve.state = 'filling';\n    },\n    readytoempty: function (valve) {\n        empty = msg;\n        valve.state = 'emptying';\n    },\n    emptying: function (valve) {\n        if (msg.payload == 'idle') {\n                valve.state = 'idle';\n        } else {\n        \treturn null;\n        }\n    }\n});\n\nmachine.handle(valve);\ncontext.valve = valve;\nreturn [fill, hold, topup, empty, {payload: 'state: '+valve.state}];","outputs":"5","x":205,"y":172.00000381469727,"z":"68e6389f.9719c8","wires":[["5c1831d2.a3e7d"],["65a99fa6.9a566"],["f26eeab7.0d9118"],["4e9595e.fb16a6c"],[]]},{"id":"6cff1c8e.9300e4","type":"inject","name":"Empty","topic":"","payload":"empty","repeat":"","crontab":"","once":false,"x":146,"y":87,"z":"68e6389f.9719c8","wires":[["313957ea.cec6a8"]]},{"id":"facdf0e6.05321","type":"inject","name":"Fill and Keep Full","topic":"","payload":"fill","repeat":"","crontab":"","once":false,"x":133,"y":32,"z":"68e6389f.9719c8","wires":[["313957ea.cec6a8"]]},{"id":"5c1831d2.a3e7d","type":"template","name":"filling","template":"filling","x":362,"y":95,"z":"68e6389f.9719c8","wires":[["1f362eb2.e0c9d1","f8c88ef0.07377"]]},{"id":"f26eeab7.0d9118","type":"template","name":"topping up","template":"topping up","x":366,"y":202,"z":"68e6389f.9719c8","wires":[["1f362eb2.e0c9d1","26941978.d96be6"]]},{"id":"4e9595e.fb16a6c","type":"template","name":"emptying","template":"emptying","x":368,"y":261,"z":"68e6389f.9719c8","wires":[["1f362eb2.e0c9d1","a3465090.5cb9b"]]},{"id":"65a99fa6.9a566","type":"template","name":"holding","template":"holding","x":359,"y":148,"z":"68e6389f.9719c8","wires":[["1f362eb2.e0c9d1","2799673f.d86698"]]},{"id":"ba5895b4.45a768","type":"mqtt in","name":"Valve Control","topic":"valvecontrol","broker":"817e85f1.7e8178","x":70,"y":173,"z":"68e6389f.9719c8","wires":[["15aa03f7.ea55fc"]]},{"id":"313957ea.cec6a8","type":"mqtt out","name":"Valve Control","topic":"valvecontrol","broker":"817e85f1.7e8178","x":308,"y":48,"z":"68e6389f.9719c8","wires":[]},{"id":"de311faa.21cee","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":687.153881072998,"y":101.46153736114502,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"9d1e7e27.62e18","type":"mqtt out","name":"Valve Control","topic":"valvecontrol","broker":"817e85f1.7e8178","x":985.5385055541992,"y":163.30768966674805,"z":"68e6389f.9719c8","wires":[]},{"id":"db88f19f.24771","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":687.153881072998,"y":155.46153736114502,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"928dbb12.6d7248","type":"delay","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":691.153881072998,"y":207.46153736114502,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"bf0a7660.40f588","type":"delay","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":696.153881072998,"y":269.461537361145,"z":"68e6389f.9719c8","wires":[["f235b07.f0dca5","9d1e7e27.62e18","4fdf8625.b02078"]]},{"id":"1f362eb2.e0c9d1","type":"debug","name":"","active":true,"complete":false,"x":585.3846206665039,"y":560.3846244812012,"z":"68e6389f.9719c8","wires":[]},{"id":"f235b07.f0dca5","type":"template","name":"idle","template":"idle","x":882.8846549987793,"y":266.4422950744629,"z":"68e6389f.9719c8","wires":[["407699f3.bf8968"]]},{"id":"86ff8c12.79007","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":912.4039459228516,"y":535.7692642211914,"z":"68e6389f.9719c8","wires":[]},{"id":"f8c88ef0.07377","type":"template","name":"allow air in","template":"allow air in","x":515.3845634460449,"y":98.46154022216797,"z":"68e6389f.9719c8","wires":[["de311faa.21cee","86ff8c12.79007"]]},{"id":"2799673f.d86698","type":"template","name":"block air","template":"block air","x":524.6153755187988,"y":150.00000762939453,"z":"68e6389f.9719c8","wires":[["db88f19f.24771","86ff8c12.79007"]]},{"id":"26941978.d96be6","type":"template","name":"allow air in","template":"allow air in","x":526.1539306640625,"y":207.6923065185547,"z":"68e6389f.9719c8","wires":[["928dbb12.6d7248","86ff8c12.79007"]]},{"id":"a3465090.5cb9b","type":"template","name":"allow air out","template":"allow air out","x":536.1538848876953,"y":263.0769386291504,"z":"68e6389f.9719c8","wires":[["bf0a7660.40f588","86ff8c12.79007"]]},{"id":"407699f3.bf8968","type":"debug","name":"","active":true,"complete":false,"x":1021.2500152587891,"y":266.2500047683716,"z":"68e6389f.9719c8","wires":[]},{"id":"4fdf8625.b02078","type":"template","name":"block air","template":"block air","x":886.2500152587891,"y":316.2500047683716,"z":"68e6389f.9719c8","wires":[["86ff8c12.79007"]]}]