lib/flows/Valve.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"15aa03f7.ea55fc","type":"function","name":"Valve","func":"//outputs (exclusive)\nvar fill = null;\nvar hold = null;\nvar topup = null;\nvar empty = null;\n\n// initialise valve to idle if none exists\nvar initialValve = {state: 'idle'};\nvar valve = context.valve || initialValve;\n\n// interrupts\n// always empty when asked to\nif (msg.payload == 'empty') {\n    // unless already in process of emptying\n    if (valve.state == 'emptying') {\n          return null;\n        } else {\n            valve.state = \"readytoempty\";\n        }\n} else if (msg.payload == 'fill') {\n// but don't start a fill unless idle\n        if (valve.state != 'idle') {\n                return null;\n        } else {\n                valve.state = 'readytofill';\n        }\n}\n\nvar stately = context.global.stately;\nvar machine = stately.define({\n    readytofill: function (valve) {\n                fill = msg;\n                valve.state = 'filling';\n    },\n    filling: function (valve) {\n                hold = msg;\n                valve.state = 'holding';\n    },\n    holding: function (valve) {\n                topup = msg;\n                valve.state = 'filling';\n    },\n    readytoempty: function (valve) {\n        empty = msg;\n        valve.state = 'emptying';\n    },\n    emptying: function (valve) {\n        if (msg.payload == 'emptying') {\n                valve.state = 'idle';\n        }\n    }\n});\n\nmachine.handle(valve);\ncontext.valve = valve;\nreturn [fill, hold, topup, empty, {payload: 'state: '+valve.state}];","outputs":"5","x":205,"y":172.00000381469727,"z":"68e6389f.9719c8","wires":[["5c1831d2.a3e7d"],["65a99fa6.9a566"],["f26eeab7.0d9118"],["4e9595e.fb16a6c"],["1f362eb2.e0c9d1"]]},{"id":"6cff1c8e.9300e4","type":"inject","name":"Empty","topic":"","payload":"empty","repeat":"","crontab":"","once":false,"x":146,"y":87,"z":"68e6389f.9719c8","wires":[["313957ea.cec6a8"]]},{"id":"facdf0e6.05321","type":"inject","name":"Fill and Keep Full","topic":"","payload":"fill","repeat":"","crontab":"","once":false,"x":133,"y":32,"z":"68e6389f.9719c8","wires":[["313957ea.cec6a8"]]},{"id":"5c1831d2.a3e7d","type":"template","name":"filling","template":"filling","x":362,"y":95,"z":"68e6389f.9719c8","wires":[["de311faa.21cee","1f362eb2.e0c9d1"]]},{"id":"f26eeab7.0d9118","type":"template","name":"topping up","template":"topping up","x":366,"y":202,"z":"68e6389f.9719c8","wires":[["928dbb12.6d7248","1f362eb2.e0c9d1"]]},{"id":"4e9595e.fb16a6c","type":"template","name":"emptying","template":"emptying","x":368,"y":261,"z":"68e6389f.9719c8","wires":[["bf0a7660.40f588","1f362eb2.e0c9d1"]]},{"id":"65a99fa6.9a566","type":"template","name":"holding","template":"holding","x":359,"y":148,"z":"68e6389f.9719c8","wires":[["db88f19f.24771","1f362eb2.e0c9d1"]]},{"id":"ba5895b4.45a768","type":"mqtt in","name":"Valve Control","topic":"valvecontrol","broker":"817e85f1.7e8178","x":70,"y":173,"z":"68e6389f.9719c8","wires":[["15aa03f7.ea55fc"]]},{"id":"313957ea.cec6a8","type":"mqtt out","name":"Valve Control","topic":"valvecontrol","broker":"817e85f1.7e8178","x":308,"y":48,"z":"68e6389f.9719c8","wires":[]},{"id":"de311faa.21cee","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":501,"y":93,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"9d1e7e27.62e18","type":"mqtt out","name":"Valve Control","topic":"valvecontrol","broker":"817e85f1.7e8178","x":694,"y":171,"z":"68e6389f.9719c8","wires":[]},{"id":"db88f19f.24771","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":501,"y":147,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"928dbb12.6d7248","type":"delay","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":505,"y":199,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"bf0a7660.40f588","type":"delay","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":510,"y":261,"z":"68e6389f.9719c8","wires":[["9d1e7e27.62e18"]]},{"id":"1f362eb2.e0c9d1","type":"debug","name":"","active":true,"complete":false,"x":680,"y":425,"z":"68e6389f.9719c8","wires":[]}]