lib/flows/Valve.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c951866d.36ae78","type":"function","name":"Valve","func":"//outputs (exclusive)\nvar fill = null;\nvar hold = null;\nvar topup = null;\nvar empty = null;\n\n// initialise valve to idle if none exists\nvar initialValve = {state: 'idle'};\nvar valve = context.valve || initialValve;\n\n// interrupts\n// always empty when asked to\nif (msg.payload == 'empty') {\n    // unless already in process of emptying\n    if (valve.state == 'emptying') {\n          return null;\n        } else {\n            valve.state = \"readytoempty\";\n        }\n} else if (msg.payload == 'fill') {\n// but don't start a fill unless idle\n        if (valve.state != 'idle') {\n                return null;\n        } else {\n                valve.state = 'readytofill';\n        }\n}\n\nvar stately = context.global.stately;\nvar machine = stately.define({\n    readytofill: function (valve) {\n                fill = msg;\n                valve.state = 'filling';\n                context.global.startedFilling = new Date().getTime();\n    },\n    filling: function (valve) {\n                hold = msg;\n                valve.state = 'holding';\n    },\n    holding: function (valve) {\n                topup = msg;\n                valve.state = 'filling';\n    },\n    readytoempty: function (valve) {\n        empty = msg;\n        valve.state = 'emptying';\n    },\n    emptying: function (valve) {\n        if (msg.payload == 'idle') {\n                valve.state = 'idle';\n                context.global.startedFilling = null;\n        } else {\n        \treturn null;\n        }\n    }\n});\n\nmachine.handle(valve);\ncontext.valve = valve;\nreturn [fill, hold, topup, empty, {payload: context.global.startedFilling}];","outputs":"4","x":202,"y":638.6666851043701,"z":"68e6389f.9719c8","wires":[["5994f79f.a66b08"],["babade02.45452"],["51cc885d.ae3378"],["35bce5ba.ca431a"]]},{"id":"19e49125.e61b6f","type":"inject","name":"Empty Grow Bed","topic":"","payload":"empty","repeat":"","crontab":"","once":false,"x":108.33332443237305,"y":260.99999618530273,"z":"68e6389f.9719c8","wires":[["ce771f97.3188e"]]},{"id":"7f3b7fe7.80c48","type":"inject","name":"Fill Grow Bed","topic":"","payload":"fill","repeat":"","crontab":"","once":false,"x":92.33332824707031,"y":212.00000953674316,"z":"68e6389f.9719c8","wires":[["ce771f97.3188e"]]},{"id":"5994f79f.a66b08","type":"template","name":"filling","template":"filling","x":333.28577423095703,"y":567.3809571266174,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","33ee63a9.cc119c"]]},{"id":"51cc885d.ae3378","type":"template","name":"topping up","template":"topping up","x":343.0000457763672,"y":668.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","f165fa17.0e9a08"]]},{"id":"35bce5ba.ca431a","type":"template","name":"emptying","template":"emptying","x":345.0000457763672,"y":727.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","8f56aaa8.70a958"]]},{"id":"babade02.45452","type":"template","name":"holding","template":"holding","x":336.0000457763672,"y":614.666672706604,"z":"68e6389f.9719c8","wires":[["90e8d857.6f1728","a60476fd.59fb88"]]},{"id":"1affc41a.e5003c","type":"mqtt in","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":67,"y":639.6666812896729,"z":"68e6389f.9719c8","wires":[["c951866d.36ae78"]]},{"id":"ce771f97.3188e","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":303.04760360717773,"y":231.8571376800537,"z":"68e6389f.9719c8","wires":[]},{"id":"4e15ef73.b1ea1","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":662.7253646850586,"y":578.1282110214233,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"2d00a44b.d2ff5c","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":1038.7885284423828,"y":619.9743766784668,"z":"68e6389f.9719c8","wires":[]},{"id":"4ca619d6.b359e8","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":664.1539268493652,"y":622.128210067749,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"d5c77159.2a389","type":"delay","name":"","pauseType":"delay","timeout":"0.10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":668.1539268493652,"y":674.128210067749,"z":"68e6389f.9719c8","wires":[["2d00a44b.d2ff5c"]]},{"id":"9dcc862.f623378","type":"delay","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":673.1539268493652,"y":736.128210067749,"z":"68e6389f.9719c8","wires":[["fe60789e.019f88","2d00a44b.d2ff5c","abb2cb8d.544d38"]]},{"id":"90e8d857.6f1728","type":"debug","name":"","active":true,"complete":false,"x":529.2419281005859,"y":789.337025642395,"z":"68e6389f.9719c8","wires":[]},{"id":"fe60789e.019f88","type":"template","name":"idle","template":"idle","x":859.8847007751465,"y":733.1089677810669,"z":"68e6389f.9719c8","wires":[["6ffb67e1.900498","2d00a44b.d2ff5c"]]},{"id":"5f1b6ebd.a0e49","type":"mqtt out","name":"","topic":"solenoids","broker":"817e85f1.7e8178","x":800.6539916992188,"y":847.4359683990479,"z":"68e6389f.9719c8","wires":[]},{"id":"33ee63a9.cc119c","type":"template","name":"allow air in","template":"allow air in","x":490.9560241699219,"y":573.6996412277222,"z":"68e6389f.9719c8","wires":[["4e15ef73.b1ea1","5f1b6ebd.a0e49"]]},{"id":"a60476fd.59fb88","type":"template","name":"block air","template":"block air","x":501.615421295166,"y":616.6666803359985,"z":"68e6389f.9719c8","wires":[["4ca619d6.b359e8","5f1b6ebd.a0e49"]]},{"id":"f165fa17.0e9a08","type":"template","name":"allow air in","template":"allow air in","x":503.1539764404297,"y":674.3589792251587,"z":"68e6389f.9719c8","wires":[["d5c77159.2a389","5f1b6ebd.a0e49"]]},{"id":"8f56aaa8.70a958","type":"template","name":"allow air out","template":"allow air out","x":513.1539306640625,"y":729.7436113357544,"z":"68e6389f.9719c8","wires":[["9dcc862.f623378","5f1b6ebd.a0e49"]]},{"id":"6ffb67e1.900498","type":"debug","name":"","active":true,"complete":false,"x":1018.2500152587891,"y":732.9166860580444,"z":"68e6389f.9719c8","wires":[]},{"id":"abb2cb8d.544d38","type":"template","name":"block air","template":"block air","x":863.2500610351562,"y":782.9166774749756,"z":"68e6389f.9719c8","wires":[["5f1b6ebd.a0e49"]]},{"id":"a099cfa3.5f663","type":"function","name":"Empty at Max level","func":"maxLevel = 15;\n\nif (msg.payload > maxLevel) {\n\tmsg.payload = \"empty\";\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":307.31752014160156,"y":481.8094220161438,"z":"68e6389f.9719c8","wires":[["e702605f.18fda","6ea93e52.9156c"]]},{"id":"e702605f.18fda","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":528.9365692138672,"y":467.52381324768066,"z":"68e6389f.9719c8","wires":[]},{"id":"be4207fd.41bdf8","type":"function","name":"Empty at Max fill time","func":"var maxFillTime = 510; // seconds\n\nif (context.global.startedFilling != null &&\n  (new Date().getTime() - context.global.startedFilling)\n\t> 1000 * maxFillTime) {\n\tmsg.payload = \"empty\";\t\n} else {\n\tmsg = null;\n}\nreturn msg;","outputs":1,"x":322.17457580566406,"y":421.23804664611816,"z":"68e6389f.9719c8","wires":[["e702605f.18fda","8a452f82.75bad"]]},{"id":"f610713c.09ef9","type":"inject","name":"Safety Set (watchdog)","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":121.31745529174805,"y":423.3808994293213,"z":"68e6389f.9719c8","wires":[["be4207fd.41bdf8"]]},{"id":"6ea93e52.9156c","type":"template","name":"Max Level Reached","template":"Max Level Reached","x":555.0634460449219,"y":510.6825428009033,"z":"68e6389f.9719c8","wires":[["85666394.7a99a","f77921d9.0886e"]]},{"id":"8a452f82.75bad","type":"template","name":"Max Fill Time Reached","template":"Max Fill Time Reached","x":562.2063827514648,"y":424.65078353881836,"z":"68e6389f.9719c8","wires":[["85666394.7a99a","f77921d9.0886e"]]},{"id":"85666394.7a99a","type":"debug","name":"","active":true,"complete":false,"x":726.0158348083496,"y":469.5714303255081,"z":"68e6389f.9719c8","wires":[]},{"id":"34d2b280.cb2d4e","type":"comment","name":"Manual Controls","info":"","x":79.33332824707031,"y":165.9999942779541,"z":"68e6389f.9719c8","wires":[]},{"id":"4314b6e0.bceb48","type":"comment","name":"Filling and Emptying Process","info":"","x":120,"y":568.6666851043701,"z":"68e6389f.9719c8","wires":[]},{"id":"7deea691.821158","type":"comment","name":"Automatic Controls","info":"","x":106.22222518920898,"y":305.99997329711914,"z":"68e6389f.9719c8","wires":[]},{"id":"448088a2.bb7f78","type":"inject","name":"Turn On","topic":"","payload":"automatic","repeat":"","crontab":"","once":false,"x":88,"y":65.66669654846191,"z":"68e6389f.9719c8","wires":[["17bf88dc.e84077"]]},{"id":"6977a44e.96885c","type":"inject","name":"Turn Off","topic":"","payload":"manual","repeat":"","crontab":"","once":false,"x":86.33331298828125,"y":107.33332824707031,"z":"68e6389f.9719c8","wires":[["17bf88dc.e84077"]]},{"id":"17bf88dc.e84077","type":"function","name":"Change Mode","func":"context.global.mode = msg.payload;","outputs":1,"x":329.66665395100904,"y":85.66666666666663,"z":"68e6389f.9719c8","wires":[[]]},{"id":"bc8d6305.4372a","type":"comment","name":"Automatic Mode ","info":"","x":76.33331298828125,"y":24,"z":"68e6389f.9719c8","wires":[]},{"id":"130f3a41.ecf0c6","type":"inject","name":"Start (Change Frequency)","topic":"","payload":"fill","repeat":"","crontab":"*/30 * * * *","once":false,"x":140.6666704813639,"y":366.66666126251215,"z":"68e6389f.9719c8","wires":[["78beac84.874154"]]},{"id":"78beac84.874154","type":"function","name":"... but only in automatic mode","func":"if (context.global.mode != 'automatic') {\n\treturn null;\n}\nreturn msg;","outputs":1,"x":400.66667556762695,"y":364.9999952316284,"z":"68e6389f.9719c8","wires":[["139dab35.ec6255"]]},{"id":"139dab35.ec6255","type":"mqtt out","name":"","topic":"Valve Control","broker":"817e85f1.7e8178","x":630.6666221618652,"y":359.9999952316284,"z":"68e6389f.9719c8","wires":[]},{"id":"f77921d9.0886e","type":"mqtt out","name":"","topic":"Valve Notification","broker":"817e85f1.7e8178","x":756.2222137451172,"y":432.7777805328369,"z":"68e6389f.9719c8","wires":[]},{"id":"f8b936af.0746c8","type":"comment","name":"Click Here To Turn On AUTOMode!!!","info":"","x":550.9999847412109,"y":85.66666603088379,"z":"68e6389f.9719c8","wires":[]},{"id":"2a1ed4f9.d5e12c","type":"mqtt in","name":"","topic":"Digital Water Level","broker":"817e85f1.7e8178","x":85.99998474121094,"y":485.6666660308838,"z":"68e6389f.9719c8","wires":[["a099cfa3.5f663"]]}]